@if (trainingDayCalendarData$ | async; as trainingDayCalendarData) {
  <div class="calendar-grid" appSwipe [swipeLeft]="navigateToNextMonth" [swipeRight]="navigateToPreviousMonth">
    <div class="day-name">Mo</div>
    <div class="day-name">Di</div>
    <div class="day-name">Mi</div>
    <div class="day-name">Do</div>
    <div class="day-name">Fr</div>
    <div class="day-name">Sa</div>
    <div class="day-name">So</div>

    @for (day of daysFromPreviousMonth(); track day) {
      <div class="day other-month">
        <div class="day-number">{{ day }}</div>
      </div>
    }

    @for (day of daysInMonth(); track day) {
      <div class="day">
        <div class="day-number" [ngClass]="{ 'current-day': day | isCurrentDay: currentMonth() : currentYear() }">
          {{ day }}
        </div>

        @if (
          day
            | extractTrainingDayFromCalendarData
              : currentMonth()
              : currentYear()
              : trainingDayCalendarData.finishedTrainings;
          as trainingDayCalendarEntry
        ) {
          @if (trainingDayCalendarEntry | matchesTrainingNotification: notificationService.trainingDayNotifications()) {
            <app-calendar-event
              [trainingDayCalendarEntry]="trainingDayCalendarEntry"
              [eventType]="CalendarEvent.NOTIFICATION"
            />
          } @else {
            <app-calendar-event [trainingDayCalendarEntry]="trainingDayCalendarEntry" [eventType]="CalendarEvent.LOG" />
          }
        }

        @if (
          day
            | extractTrainingDayFromCalendarData
              : currentMonth()
              : currentYear()
              : trainingDayCalendarData.upComingTrainings;
          as trainingDayCalendarEntry
        ) {
          <app-calendar-event
            [trainingDayCalendarEntry]="trainingDayCalendarEntry"
            [eventType]="CalendarEvent.PROSPECTIVE"
          />
        }
      </div>
    }

    @for (day of daysFromNextMonth(); track day) {
      <div class="day other-month">
        <div class="day-number">{{ day }}</div>
      </div>
    }
  </div>

  <app-navigation-arrows (navigateLeft)="navigateToPreviousMonth()" (navigateRight)="navigateToNextMonth()" />
} @else {
  <app-spinner />
}
