<app-training-banner [(imageSrc)]="trainingPlanEditView.coverImageBase64" />

<div class="input-group">
  <app-floating-label-input [label]="'Titel'" [(value)]="trainingPlanEditView.title" [required]="true" />

  @if (trainingPlanTyp() === TrainingPlanType.PLAN) {
    <app-floating-label-input
      [label]="'Trainings / Woche'"
      [(value)]="trainingPlanEditView.trainingFrequency"
      [required]="true"
      type="select"
      [options]="[
        { value: 3, label: '3' },
        { value: 4, label: '4' },
        { value: 5, label: '5' },
        { value: 6, label: '6' },
      ]"
    />

    <app-floating-label-input
      [label]="'Blocklänge (Wochen)'"
      [(value)]="trainingPlanEditView.trainingBlockLength"
      [required]="true"
      type="select"
      [options]="[
        { value: 3, label: '3' },
        { value: 4, label: '4' },
        { value: 5, label: '5' },
        { value: 6, label: '6' },
      ]"
    />
  }

  <app-floating-label-input
    [label]="'Gewichtsempfehlungen'"
    [(value)]="trainingPlanEditView.weightRecommendationBase"
    [required]="true"
    type="select"
    [options]="[
      { value: 'lastWeek', label: 'basierend auf letzter Woche' },
      { value: 'off', label: 'keine Gewichtsempfehlungen' },
    ]"
  />
</div>
