@if (showCreatePlanBasedOnExistingOne()) {
  @if (existingPlans().length > 0) {
    <div class="form-floating mb-4">
      <select id="existing_plan_selector" class="form-control">
        @for (trainingPlan of existingPlans(); track trainingPlan.id) {
          <option [value]="trainingPlan.id">{{ trainingPlan.title }}</option>
        }
      </select>
      <label for="existing_plan_selector">Existierenden Plan wählen</label>
    </div>

    <!-- Common form fields -->
    <ng-container *ngIf="selectedPlan(); else emptyForm">
      <ng-container *ngTemplateOutlet="commonForm"></ng-container>
    </ng-container>

    <ng-template #emptyForm>
      <!-- Fallback content when no plan is selected -->
      <p>No existing plan selected. Please choose an existing plan or create a new one.</p>
    </ng-template>
  }
} @else {
  <ng-container *ngTemplateOutlet="commonForm"></ng-container>
}

<ng-template #commonForm>
  <!-- Image Upload -->
  <div class="form-group text-center mb-4 position-relative">
    <img
      #coverImage
      [src]="coverImageBase64() || placeholderCoverImage"
      alt="Cover Bild Platzhalter"
      id="cover-image"
    />
    <input
      type="file"
      id="cover-image-input"
      class="form-control-file position-absolute"
      style="opacity: 0; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer"
      (change)="handleImageUpload($event)"
    />
  </div>
  <!-- Floating Label Inputs -->
  <app-floating-label-input [label]="'Titel'" [(value)]="title" [required]="true"></app-floating-label-input>

  <app-floating-label-input
    [label]="'Trainings / Woche'"
    [(value)]="trainingFrequency"
    [required]="true"
    type="select"
    [options]="[
      { value: 3, label: '3' },
      { value: 4, label: '4' },
      { value: 5, label: '5' },
      { value: 6, label: '6' },
    ]"
  ></app-floating-label-input>

  <app-floating-label-input
    [label]="'Blocklänge (Wochen)'"
    [(value)]="trainingWeeks"
    [required]="true"
    type="select"
    [options]="[
      { value: 3, label: '3' },
      { value: 4, label: '4' },
      { value: 5, label: '5' },
      { value: 6, label: '6' },
    ]"
  ></app-floating-label-input>

  <app-floating-label-input
    [label]="'Gewichtsempfehlungen'"
    [(value)]="weightPlaceholders"
    [required]="true"
    type="select"
    [options]="[
      { value: 'lastWeek', label: 'basierend auf letzter Woche' },
      { value: 'off', label: 'keine Gewichtsempfehlungen' },
    ]"
  ></app-floating-label-input>
</ng-template>
