:host {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 1rem;
  background-color: var(--dark-grey);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
  transition: color 0.3s ease;
  z-index: 1045;
  max-width: 500px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6c757d;
  transition: color 0.3s;
  position: relative;

  .notification-badge {
    position: absolute;
    top: -7.5px;
    right: -7.5px;
    background-color: var(--accent-color);
    color: white;
    padding: 2px;
    font-size: 0.75rem;
    font-weight: bold;
    min-width: 24px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  &:hover {
    color: white;
  }
}

.nav-item .nav-label {
  margin-top: 5px;
  font-size: 13px;
}

.nav-item.active .nav-label,
.nav-item.active app-icon {
  color: #eee;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2e3a40;
  padding: 10px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 786px) {
  :host {
    bottom: 2%;
    border-radius: 1rem;
  }
}
