@if (!isLoading()) {
  <div
    class="body-weight-grid-container"
  >

    <div class="body-weight-goal-selection">
      <app-floating-label-input [label]="'Ziel'" [options]="bodyWeightGoalOptions()  | toDropdownOptionsFromStrings"
                                [(value)]="bodyWeightGoal" [type]="'select'" />
      <app-floating-label-input [label]="'Rate'" [options]="bodyWeightRates() | toDropdownOptionsFromStrings"
                                [(value)]="bodyWeightRate" [type]="'select'" />
    </div>

    <div
      class="body-weight-grid"
    >
      <div class="body-weight-grid-row header">Datum</div>
      <div class="body-weight-grid-row header">Körpergewicht</div>

      @for (bodyWeightData of bodyWeights(); track bodyWeightData.date) {
        <div class="body-weight-grid-row">{{ bodyWeightData.date | date: 'dd.MM.yyyy' }}</div>


        <div class="body-weight-grid-row">

          <input
            type="number"
            class="transparent-input"
            [(ngModel)]="bodyWeightData.weight"
            (change)="onBodyWeightDataChange(bodyWeightData, $event)"
          />
        </div>
      }
    </div>
    <app-add-row-button (addRow)="addRow()" [isVisible]="true" />
  </div>


  <app-grouped-bar-chart [data]="bodyWeightBarChartData()!" yAxisTitle="Körpergewicht (Verlauf)" />
} @else {
  <app-spinner />
}
