:host {
  background-color: mediumaquamarine;
  color: white;
  border: 1px solid #ddd;
  font-size: smaller;
  border-radius: 8px;
  display: grid;
  place-items: center;
  position: relative;
  top: 30px;
}
