.card:hover {
  scale: 1.005;
}

.card {
  transition: transform 0.3s ease; /* Definiert die Dauer und die Art der Animation */
}

.card-text {
  margin-bottom: 0.5rem;

  &:hover {
    transform: scale(1.01); /* Transform anstelle von scale verwenden */
  }
}

/* Define the custom grid system */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 12px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 175px;
  min-height: 175px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.card-body {
  padding-top: 2.5rem;
}

.card-custom-avatar img {
  border-radius: 50%;
  border: 5px solid rgb(248, 249, 250);
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 147.5px;
  left: 10px;
  width: 55px;
  height: 55px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.75rem;

  & app-icon-button {
    margin-right: 0.5rem;
  }
}

.bg-white {
  --bs-bg-opacity: 0.5;
}
