<img
  [src]="trainingPlan().coverImageBase64 || '/images/training/training_3.jpg'"
  class="card-banner"
  [alt]="'banner'"
/>
<div class="profile-picture">
  <img [src]="trainingPlan().pictureUrl ?? '/images/profile-placeholder.webp'" alt="Avatar" />
</div>
<div class="card-body">
  <h4 class="card-title"><span class="title-prefix">PLAN</span>{{ trainingPlan().title }}</h4>

  @if (trainingPlan().trainingFrequency) {
    <p class="card-text">{{ trainingPlan().trainingFrequency }} Trainings / Woche</p>
  }

  <p class="card-text">
    {{ trainingPlan().lastUpdated | formatDate }}
  </p>

  @if (trainingPlan().averageTrainingDayDuration) {
    <p class="card-text d-flex gap-2">
      <app-icon [name]="IconName.CLOCK" [size]="15" />
      {{ trainingPlan().averageTrainingDayDuration }}
    </p>
  }
</div>
<div class="card-footer" style="background: inherit; border-color: inherit">
  <div>
    <app-icon-button
      [tooltipTitle]="'Ansehen'"
      [iconName]="IconName.EYE"
      (buttonClick)="viewTrainingPlan(trainingPlan().id)"
    />

    <app-icon-button
      [tooltipTitle]="'Statistiken'"
      [iconName]="IconName.BAR_CHART"
      (buttonClick)="viewStatistics(trainingPlan().id)"
    />

    <app-icon-button
      [tooltipTitle]="'Bearbeiten'"
      [iconName]="IconName.Edit"
      (buttonClick)="showEditTrainingPlanModal()"
    />

    <app-icon-button
      [tooltipTitle]="'Löschen'"
      [iconName]="IconName.Trash"
      (buttonClick)="showDeleteTrainingPlanModal()"
    />
  </div>
  @if (trainingPlan().percentageFinished) {
    <div>{{ trainingPlan().percentageFinished }}%</div>
  }
</div>
