@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import './app//shared/directives/tooltip.scss';

:root {
  --accent-color: #a78bfa;

  --light-grey: #f0f0f0;
  --dark-grey: #222222;
  --border-color: #e2e8f0;

  --off-white: #fdfdfd;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-repeat: repeat;
  background-image: url('/images/background/white-3.avif');
  overflow-x: hidden;
}

.background-image {
  background-image: url('/images/background/white-3.avif');
}

@media screen and (min-width: 1200px) {
  body {
    background-image: none;
  }

  .background-image {
    background: none;
  }
}

input.form-control,
select.form-control,
textarea.form-control {
  background: inherit;
}
