@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import './app//shared/directives/tooltip.scss';
@import './app/css/scrollbar.scss';
@import './app/css/tables.scss';

:root {
  --accent-color: #a78bfa;
  --accent-button-color: #825bdf;
  --accent-button-color-active: #7046d0;

  --light-grey: #f0f0f0;
  --dark-grey: #2e3a40;
  --border-color: #e2e8f0;
  --error-color: #e63946;
  --element-background: rgb(247, 247, 247);

  --calendar-border-color: #e0e0e0;
  --calendar-hover-color: #f9f9f9;

  --stripe-color-light: rgba(255, 255, 255, 0.1);
  --stripe-color-dark: rgba(0, 0, 0, 0.05);

  --off-white: #fdfdfd;

  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
}

@media screen and (max-width: 768px) {
  :root {
    --element-background: rgb(243, 239, 239);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-repeat: repeat;
  background-image: url('/images/background/white-3.avif');
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: rgb(199, 199, 199) #e9ecef;
}

.blur-background .outlet-wrapper {
  filter: blur(2px);
  transition: filter 0.2s ease-in-out;
}

.blur-background app-header,
.blur-background app-nav-bar {
  filter: blur(2px);
  transition: filter 0.2s ease-in-out;
}

.background-image {
  background-image: url('/images/background/white-3.avif');
}

@media screen and (min-width: 1200px) {
  body {
    background-image: none;
  }

  .background-image {
    background: none;
  }
}

input.form-control,
select.form-control,
textarea.form-control {
  background: inherit;
}

.center {
  display: grid;
  place-items: center;
}

.transparent-input {
  border: none;
  background-color: transparent;
  width: 100%;

  text-align: center;

  &.left-aligned {
    text-align: left;
  }
}

.transparent-input:focus {
  border: none;
  outline: none;
}

/* Hide up and down arrows from number inputs */
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Chrome, Safari, Edge, Opera */
}

/* Remove up and down arrows in IE10+ */
input[type='number'] {
  -ms-appearance: textfield;
}

@media screen and (max-width: 768px) {
  .transparent-input {
    text-align: left;
  }
}
