@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "./css/tooltip.scss";
@import "./css/input.scss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("/images/background/white-3.avif");
  background-repeat: repeat;
}

.blur-background > *:not(app-modal) {
  filter: blur(2px);
  transition: filter 0.3s ease-in-out; /* Optional: smooth transition */
}

.outlet-wrapper {
  margin-top: 6rem;
  padding-inline: 7.5%;
}
@media screen and (max-width: 786px) {
  .outlet-wrapper {
    padding-inline: 4%;
    padding-bottom: 5rem;
  }
}
