<div class="dropdown-header">
  <div class="chip-container">
    @for (select of selectedOptions(); track select) {
      <div class="chip">{{ select }}</div>
    }
  </div>
  <div>
    @if (isOpen()) {
      <app-icon [name]="IconName.ChevronUp" />
    } @else {
      <app-icon [name]="IconName.ChevronDown" />
    }
  </div>
</div>
<div class="dropdown-menu" [@toggleCollapse]="isOpen() ? 'expanded' : 'collapsed'" (click)="$event.stopPropagation()">
  <app-search-bar [(searchQuery)]="searchQuery" />

  <div class="checkbox-container">
    @for (option of filteredItems(); track option) {
      <app-checkbox
        [item]="{ label: option, isChecked: selectedOptions().includes(option) }"
        (valueChanged)="onSelectionChange(option, $event)"
      />
    }
  </div>
</div>
