<div class="dropdown-header">
  <div class="chip-container">
    @for (select of selectedOptions(); track select) {
      <div class="chip">{{ select }}</div>
    }
  </div>
  <div>
    @if (isOpen()) {
      <app-icon [name]="IconName.ChevronUp" />
    } @else {
      <app-icon [name]="IconName.ChevronDown" />
    }
  </div>
</div>
<div class="dropdown-menu" [@toggleCollapse]="isOpen() ? 'expanded' : 'collapsed'" (click)="$event.stopPropagation()">
  @if (isSearchable()) {
    <app-search-bar [(searchQuery)]="searchQuery" />
  }

  <div class="checkbox-container">
    @for (checkboxItem of filteredItems() | toCheckboxItem: selectedOptions(); track checkboxItem.label) {
      <app-checkbox [item]="checkboxItem" (valueChanged)="onSelectionChange(checkboxItem.label, $event)" />
    }
  </div>
</div>
