<app-info
  [infoText]="
    'Die ausgewählten Trainingstage bestimmen deine Trainingsfrequenz und werden automatisch in deinen Trainingskalender eingetragen.'
  "
/>

<div class="calendar-grid">
  @for (day of days(); track day) {
    <div class="day-name">{{ day }}</div>
  }

  @for (dayNumber of dayNumbers(); track dayNumber) {
    <div class="day" (click)="toggleTrainingDayByNumber(dayNumber)">
      <div
        class="day-number"
        [ngClass]="{
          'selected-day': trainingPlanEditView.trainingDays().has(days()[dayNumber - 1]),
        }"
      >
        {{ dayNumber }}
      </div>
    </div>
  }
</div>

@if (!isSelectionValid()) {
  <p class="error-message">Trainingsplan muss mindestens 2 Trainingtage haben</p>
}
<app-date-picker [(value)]="trainingPlanEditView.startDate" />
