<app-alert
  [alertText]="
    'Die ausgewählten Trainingstage bestimmen deine Trainingsfrequenz und werden automatisch in deinen Trainingskalender eingetragen. So behältst du immer den Überblick!'
  "
  [alertType]="'light'"
/>

<div class="calendar-grid">
  @for (day of days(); track day) {
    <div class="day-name">{{ day }}</div>
  }

  @for (dayNumber of [1, 2, 3, 4, 5, 6, 7]; track dayNumber) {
    <div class="day">
      <div class="day-number" [ngClass]="{ 'selected-day': dayNumber % 2 === 0 }">
        {{ dayNumber }}
      </div>
    </div>
  }
</div>
