@if (trainingDayNotifications$ | async; as trainingDayNotifications) {
  @if (trainingDayNotifications.length === 0) {
    <app-alert [alertText]="'Hier werden später deine absolvierten Trainings angezeigt'" />
  } @else {
    <app-search-bar [(searchQuery)]="searchQuery" />

    @if (filteredTrainingNotifications().length === 0) {
      <app-alert [alertText]="'Es passen keine Trainings zu deiner aktuellen Suchanfrage'" />
    } @else {
      <div class="grid">
        @for (notification of filteredTrainingNotifications(); track notification.id) {
          <app-training-log-card [notification]="notification" />
        }
      </div>
    }
  }

  <div class="more-entries-container">
    <app-button [variant]="'SECONDARY'" [textContent]="'Mehr Einträge laden'" (click)="loadLogEntries()" />
  </div>
} @else {
  <div class="grid">
    @for (k of [1, 2, 3]; track k) {
      <app-training-log-card-skeleton />
    }
  </div>
}
