@if (notificationService.trainingDayNotifications().length === 0) {
  <app-alert [alertText]="'Es sind momentan keine Benachrichtigungen vorhanden'" />
}

<div class="grid">
  @for (notification of notificationService.trainingDayNotifications(); track notification.id) {
    <app-training-day-notification-2
      [id]="notification.id"
      [title]="'Test'"
      [trainingDuration]="notification.durationInMinutes!"
      [startDate]="notification.startTime!"
      [notification]="notification"
    />
  }
</div>
