@if (isInitialized()) {
  @if (squatPerformance()) {
    <app-best-performance-category-section [categoryPerformanceData]="squatPerformance()!" />

  }

  @if (benchPerformance()) {
    <app-best-performance-category-section [categoryPerformanceData]="benchPerformance()!" />
  }


  @if (deadliftPerformance()) {
    <app-best-performance-category-section [categoryPerformanceData]="deadliftPerformance()!" />
  }


  @if (overheadpressPerformance()) {
    <app-best-performance-category-section [categoryPerformanceData]="overheadpressPerformance()!" />
  }

} @else {
  <app-spinner />
}

