@if (isInitialized()) {
  @if (squatPerformance() && squatPerformanceDashboardCardInfo()) {
    <app-dashboard-card
      [title]="squatPerformanceDashboardCardInfo()!.title"
      [unit]="squatPerformanceDashboardCardInfo()!.unit"
      [differenceFromLastSession]="squatPerformanceDashboardCardInfo()!.prIncrement"
    />
  }

  @if (benchPerformance() && benchPerformanceDashboardCardInfo()) {
  }

  @if (deadliftPerformance() && deadliftPerformanceDashboardCardInfo()) {
  }

  @if (overheadpressPerformance() && overheadpressPerformanceDashboardCardInfo()) {
  }
} @else {
  <app-chart-skeleton />
}
