.icon-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: var(--icon-bg-color);
  color: var(--icon-color);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
