@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:host {
  height: 80vh;
  place-items: center;

  display: flex;
  gap: 20rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column; /* Untereinander auf kleineren Bildschirmen */
    gap: 4rem; /* Reduziert den Abstand zwischen den Elementen */
  }
}

::ng-deep .outlet-wrapper {
  @media screen and (max-width: 768px) {
    padding-inline: 0% !important;
  }
}

.container {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #fff;
  background: inherit;
  background: rgba(250, 250, 250, 0.65); /* Halbtransparentes Weiß */
  border: 1.5px solid rgb(215, 215, 215);
}

header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

form {
  margin-top: 30px;
}

.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  outline: none;
  background-color: inherit;
  padding: 0 15px;
  border: 1px solid #cacaca;
}

.field input:focus {
  border: 2px solid #0171d3 !important;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.field button {
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
}

.field button:hover {
  background-color: #016dcb;
}

.form-link {
  text-align: center;
  margin-top: 15px;
}

.form-link:nth-of-type(2) {
  margin-top: 0;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}

.form a {
  color: #0171d3;
  text-decoration: none;
}

.form-content a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 30px 0;
  background-color: #d4d4d4;
}

.media-options div,
.media-options iframe {
  width: 100%; /* Ensure full width */
  display: flex;
  justify-content: center; /* Center the content inside */
  align-items: center;
}

@media screen and (max-width: 482px) {
  .form {
    padding: 22.5px 20px;
  }

  .container {
    padding: 0;
  }
}

/* typography */

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.letter-spacing-4 {
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
