<div class="stat-content">
  <h4>{{ title() }}</h4>
  <p class="value">{{ unit() }}</p>

  @if (isPositiveTrend()) {
    <div class="trend-container positive">
      <div class="trend-info">
        <app-icon [name]="IconName.TRENDING_UP" />
        {{ differenceFromLastSession() }}
      </div>

      <small>{{ explanationText() }}</small>
    </div>
  } @else {
    <div class="trend-container negative">
      <div class="trend-info">
        <app-icon [name]="IconName.TRENDING_DOWN" />
        {{ differenceFromLastSession() }}
      </div>

      <small>{{ explanationText() }}</small>
    </div>
  }
</div>

<app-icon-with-backdrop-color [icon]="icon()" [iconColor]="IconBackgroundColor.DodgerBlue" />
