<div class="calendar-container">
  <div class="calendar-grid">
    <div class="contributions-wrapper">
      <div class="months">
        <div #month>Jan</div>
        <div #month>Feb</div>
        <div #month>Mar</div>
        <div #month>Apr</div>
        <div #month>May</div>
        <div #month>Jun</div>
        <div #month>Jul</div>
        <div #month>Aug</div>
        <div #month>Sep</div>
        <div #month>Okt</div>
        <div #month>Nov</div>
        <div #month>Dec</div>
      </div>

      <div class="day-and-grid-wrapper">
        <div class="days">
          <div>Mon</div>
          <div>Wed</div>
          <div>Fri</div>
        </div>
        <div
          class="contribution-grid"
        >
          @for (day of grid; track day; let index = $index) {
            @if (day.value) {
              <div
                class="day"
                [style.gridColumn]="day.weekIndex + 1"
                [style.gridRow]="day.dayOfWeek + 1"
                [ngClass]="'level-' + day.level"
                [appTooltip]="day.value.toString() + ' KG '"
              ></div>
            } @else {
              <div
                class="day"
                [style.gridColumn]="day.weekIndex + 1"
                [style.gridRow]="day.dayOfWeek + 1"
                [ngClass]="'level-' + day.level"
              ></div>
            }
          }
        </div>
      </div>
    </div>
  </div>
  <div class="calendar-footer">
    <div class="training-text">{{ trainingDays() }} Trainings</div>
    <div class="legend">
      <span>Less</span>
      <div class="legend-color level-1"></div>
      <div class="legend-color level-2"></div>
      <div class="legend-color level-3"></div>
      <div class="legend-color level-4"></div>
      <span>More</span>

      <app-dropdown
        [options]="yearOptions()"
        [(selectedValue)]="selectedYear"
      />
    </div>
  </div>
</div>
