<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Login</header>
      <form (submit)="onSubmit($event)">
        <div class="field input-field">
          <input type="email" placeholder="Email" class="input" name="email" />
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Password"
            class="password"
            name="password"
          />
          <i
            class="bx bx-hide eye-icon"
            (click)="togglePasswordVisibility($event)"
          ></i>
        </div>
        <div class="form-link">
          <a href="#" class="forgot-pass">Forgot password?</a>
        </div>
        <div class="field button-field">
          <button>Login</button>
        </div>
      </form>
      <div class="form-link">
        <span>
          Don't have an account?
          <a
            href="/register"
            class="link signup-link"
            (click)="navigateTo($event)"
          >
            Signup
          </a>
        </span>
      </div>
    </div>
    <div class="line"></div>
    <div class="media-options">
      <div
        id="g_id_onload"
        data-client_id="643508334542-dlp04afd8ha9mt3v7pfc5mfkmqea3rqj.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:3000/user/login/oauth2"
        data-itp_support="true"
      ></div>

      <!-- über data-width ließe sich die breite steuern vllt kann man auf dieses attribut per js zugreifen?-->
      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="continue_with"
        data-size="large"
        data-logo_alignment="center"
        data-width="240"
      ></div>
    </div>
  </div>
</section>
