<!-- Signup Form -->
<section class="container forms">
  <div class="form signup">
    <div class="form-content">
      <header>Signup</header>
      <form (submit)="onSubmit($event)">
        <div class="field input-field">
          <input
            type="text"
            placeholder="Username"
            name="username"
            class="input"
          />
        </div>
        <div class="field input-field">
          <input type="email" placeholder="Email" name="email" class="input" />
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Create password"
            name="password"
            class="password"
          />
          <i
            class="bx bx-hide eye-icon"
            (click)="togglePasswordVisibility($event)"
          ></i>
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Confirm password"
            name="confirmPassword"
            class="password"
          />
          <i
            class="bx bx-hide eye-icon"
            (click)="togglePasswordVisibility($event)"
          ></i>
        </div>
        <div class="field button-field">
          <button>Signup</button>
        </div>
      </form>
      <div class="form-link">
        <span
          >Already have an account?
          <a href="/login" class="link login-link" (click)="navigateTo($event)"
            >Login</a
          ></span
        >
      </div>
    </div>
    <div class="line"></div>

    <div class="media-options">
      <div
        id="g_id_onload"
        data-client_id="643508334542-dlp04afd8ha9mt3v7pfc5mfkmqea3rqj.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:3000/user/login/oauth2"
        data-itp_support="true"
      ></div>

      <!-- über data-width ließe sich die breite steuern vllt kann man auf dieses attribut per js zugreifen?-->
      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="continue_with"
        data-size="large"
        data-logo_alignment="center"
        data-width="240"
      ></div>
    </div>
  </div>
</section>
