@if (profileService.isInitalized()) {
  @if (activityCalendarData$ | async; as activityCalendarData) {
    <div class="profile-wrapper">
      <app-profile-picture-with-info
        [profilePicture]="profileService.pictureUrl()!"
        [username]="profileService.username()!"
        [email]="profileService.email()!"
      />

      <input type="file" id="file-input" (change)="showProfilePictureChangeDialog($event)" />

      <app-activity-calendar [activityData]="activityCalendarData" />

      <div class="list-item-container">
        @for (item of listItems; track item) {
          <app-icon-list-item [item]="item" (itemClicked)="onListItemClicked($any($event))" />
        }
      </div>
    </div>
  } @else {
    <app-chart-skeleton [rows]="4" />
    <app-chart-skeleton [rows]="4" />
  }
}
