@if (profileService.pictureUrl()) {
  <div class="profile-wrapper">
    <div class="profile-header-container">
      <div class="profile-info">
        <h2>{{ profileService.username() }}</h2>
        <p>{{ profileService.email() }}</p>
      </div>
      <img #profilePicture [src]="profileService.pictureUrl() || '/images/profile-placeholder.webp'" alt="Profile" />
      <input type="file" id="file-input" (change)="showProfilePictureChangeDialog($event)" />
    </div>

    <div class="list-item-container">
      @for (item of listItems; track item) {
        <app-icon-list-item [item]="item" (itemClicked)="onListItemClicked($any($event))" />
      }
    </div>
  </div>
} @else {
  <app-spinner />
}
