@if (profileService.isInitalized()) {
  @if (activityCalendarData$ | async; as activityCalendarData) {
    <div class="profile-wrapper">
      <app-profile-picture-with-info
        [profilePicture]="profileService.pictureUrl()!"
        [username]="profileService.username()!"
        [email]="profileService.email()!"
      />

      <input type="file" id="file-input" (change)="showProfilePictureChangeDialog($event)" />

      <app-activity-calendar [activityData]="activityCalendarData" />

      <div class="list-item-container">
        @for (item of listItems; track item) {
          <app-icon-list-item
            [label]="item.label"
            [iconName]="item.iconName"
            [iconBackgroundColor]="item.iconBackgroundColor"
            (itemClicked)="onListItemClicked($any($event))"
          />
        }
      </div>
    </div>

    <app-dashboard-card
      [icon]="IconName.Activity"
      [unit]="'23'"
      [differenceFromLastSession]="2.3"
      [title]="'Test'"
      [explanationText]="'Improvement'"
    />
  } @else {
    <app-spinner />
  }
} @else {
  <app-spinner />
}
