@let user = profileService.userData();
@if (user) {
  <div class="profile-wrapper">
    <div class="profile-header-container">
      <div class="profile-info">
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
      </div>
      <img [src]="user.pictureUrl || '/images/profile-placeholder.webp'" alt="Profile" />
    </div>

    <div class="list-item-container">
      @for (item of listItems; track item) {
        <app-profile-list-item [item]="item" (itemClicked)="onListItemClicked($any($event))" />
      }
    </div>
  </div>
} @else {
  <app-spinner />
}
