@let user = profileService.userData();
@if (user) {
  <div class="profile-wrapper">
    <div class="profile-header-container">
      <div class="profile-info">
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
      </div>
      <img [src]="user.pictureUrl || '/images/profile-placeholder.webp'" alt="Profile" />
    </div>

    <app-profile-list-item />

    <!-- <div class="three-button-container">
      <div class="box">
        <app-icon [name]="IconName.IMAGE" [size]="24" [color]="'grey'" />
        <p>Ticket</p>
      </div>
      <div class="box">
        <app-icon [name]="IconName.USERS" [size]="24" [color]="'grey'" />
        <p>Social</p>
      </div>
      <div class="box">
        <app-icon [name]="IconName.SETTINGS" [size]="24" [color]="'grey'" />
        <p>Settings</p>
      </div>
    </div> -->
  </div>
} @else {
  <app-spinner />
}
