@if (isLoaded()) {
  <div class="select-container">
    <app-select [options]="allExercises()" [(selectedOptions)]="selectedExercises" [isSearchable]="false" />
  </div>

  <div class="chart-grid">
    <app-line-chart [data]="volumeChartData()" yAxisTitle="Tonnage (kg)" />

    <app-line-chart [data]="performanceChartData()" yAxisTitle="Est. Max (kg)" />
  </div>

  <div class="chart-grid">
    <app-grouped-bar-chart [data]="setsData()" yAxisTitle="Satzanzahl" />
    <app-polar-chart [data]="sessionDurationChartData()" />
  </div>
} @else {
  <div class="chart-grid">
    <app-chart-skeleton />
    <app-chart-skeleton />
  </div>
}
