@if (trainingDayNotifications$ | async; as trainingDayNotifications) {
  @if (trainingDayNotifications.length === 0) {
    <app-alert
      [alertText]="
        'Sobald du deine ersten Trainings absolviert hast, werden sie hier angezeigt! Deine Fortschritte werden automatisch dokumentiert und du erhältst hier eine umfassende Übersicht über deine Leistungen.'
      "
      [alertType]="'primary'"
    />
  } @else {
    <app-search-bar [(searchQuery)]="searchQuery" />

    @if (filteredTrainingNotifications().length === 0) {
      <app-alert [alertText]="'Es passen keine Trainings zu deiner aktuellen Suchanfrage'" [alertType]="'light'" />
    } @else {
      <div class="grid">
        @for (notification of filteredTrainingNotifications(); track notification.id) {
          <app-training-log-card [notification]="notification" />
        }
      </div>
    }
  }
} @else {
  <div class="grid">
    @for (k of [1, 2, 3]; track k) {
      <app-training-log-card-skeleton />
    }
  </div>
}

<app-training-log-calendar />