<div class="training-notification-body">
  <p>
    @if (notification().startTime) {
      <div class="notification-text-container">
        <app-icon [name]="IconName.CALENDAR" [color]="'#666'" />
        {{ notification().startTime! | formatDate }}
      </div>
    }
  </p>

  <div class="notification-text-container">
    <app-icon [name]="IconName.CLOCK" [color]="'#666'" />
    {{ notification().durationInMinutes }} Minuten
  </div>

  <div class="notification-text-container">
    <app-icon [name]="IconName.BAR_CHART" [color]="'#666'" />
    {{ notification().trainingDayTonnage }} Tonnage
  </div>

  <div class="exercises-container">
    @for (exercise of notification().exercises; track exercise) {
      <div class="exercise-card">
        <strong>{{ exercise.exercise }}</strong>
        <p>Sets: {{ exercise.sets }}</p>
        <p>Reps: {{ exercise.reps }}</p>
        <p>Weight: {{ exercise.weight }} kg</p>
        @if (exercise.actualRPE) {
          <p>RPE: {{ exercise.actualRPE }}</p>
        }
        @if (exercise.estMax) {
          <p>Est. Max {{ exercise.estMax }}</p>
        }
      </div>
    }
  </div>
</div>
