<img [src]="imageSrc()" alt="Cover Placeholder" id="cover-image" />

<div class="button-container">
  <app-circular-icon-button [icon]="IconName.CHEVRON_LEFT" (click)="selectPreviousBannerRecomandation($event)" />
  <app-circular-icon-button [icon]="IconName.CHEVRON_RIGHT" (click)="selectNextBannerRecomandation($event)" />
  <app-circular-icon-button [icon]="IconName.UPLOAD" (click)="triggerFileInput()" />
  <app-circular-icon-button [icon]="IconName.CROP" />
</div>

<input type="file" name="cover-image" style="display: none" #fileInput (change)="handleImageUpload($event)" />
