@if (showPercentageText()) {
  {{ percentage() }}%
}

<svg #progressRing class="progress-ring" [attr.width]="size()" [attr.height]="size()">
  <defs>
    <!-- Gradient for the background ring -->
    <linearGradient id="backgroundGradient" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop offset="0%" style="stop-color: #9092e2; stop-opacity: 1" />
      <stop offset="100%" style="stop-color: #9f85da; stop-opacity: 1" />
    </linearGradient>

    <!-- Gradient for the progress ring -->
    <linearGradient id="progressGradient" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop offset="0%" style="stop-color: #f5f5f5; stop-opacity: 1" />
      <stop offset="100%" style="stop-color: #ffffff; stop-opacity: 1" />
    </linearGradient>
  </defs>

  <!-- Background ring -->
  <circle
    class="progress-ring__background"
    stroke="url(#backgroundGradient)"
    [attr.stroke-width]="strokeWidth()"
    fill="transparent"
    [attr.r]="size() / 2 - 5"
    [attr.cx]="size() / 2"
    [attr.cy]="size() / 2"
    [attr.transform]="'rotate(-90 ' + size() / 2 + ' ' + size() / 2 + ')'"
  />

  <!-- Progress ring -->
  <circle
    class="progress-ring__circle"
    stroke="url(#progressGradient)"
    [attr.stroke-width]="strokeWidth()"
    fill="transparent"
    [attr.r]="size() / 2 - 5"
    [attr.cx]="size() / 2"
    [attr.cy]="size() / 2"
    [attr.transform]="'rotate(-90 ' + size() / 2 + ' ' + size() / 2 + ')'"
  />

  <!-- <circle
    class="drag-handle"
    [attr.cx]="handlePosition().x"
    [attr.cy]="handlePosition().y"
    r="10"
    fill="grey"
    (mousedown)="startDragging($event)"
    (touchstart)="startDragging($event)"
  /> -->
</svg>
