<div class="exercise-field">
  <app-dropdown
    [options]="exerciseDataService.exerciseCategories()"
    [(selectedValue)]="exercise().category"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <!-- TODO: das hier muss sauberer gemacht werden nach der Migration-->
  <app-dropdown
    class="exercise-name-selector"
    [options]="exerciseDataService.categorizedExercises()[exercise().category]"
    [(selectedValue)]="exercise().exercise"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' || !exercise().category ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().sets"
    (ngModelChange)="updateExerciseProperty('sets', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().reps"
    (ngModelChange)="updateExerciseProperty('sets', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input type="text" class="transparent-input" [(ngModel)]="exercise().weight" />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().targetRPE"
    (ngModelChange)="updateExerciseProperty('sets', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input type="text" class="transparent-input" [(ngModel)]="exercise().actualRPE" />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().estMax"
    (ngModelChange)="updateExerciseProperty('sets', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="text"
    class="transparent-input left-aligned"
    [(ngModel)]="exercise().notes"
    (ngModelChange)="updateExerciseProperty('sets', $event)"
  />
</div>
