<div class="exercise-field" data-label="Category">
  <app-dropdown
    [options]="exerciseDataService.exerciseCategories()"
    [(selectedValue)]="exercise().category"
    (valueChange)="onExerciseCategoryChange($any($event))"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field" data-label="Exercise">
  <app-dropdown
    class="exercise-name-selector"
    [options]="exerciseDataService.categorizedExercises()[exercise().category]"
    [(selectedValue)]="exercise().exercise"
    (valueChange)="updateExerciseProperty('exercise', $any($event))"
    [disabled]="exercise().category === '- Bitte Auswählen -'"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' || !exercise().category ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field" data-label="Sets">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().sets"
    (ngModelChange)="updateExerciseProperty('sets', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field" data-label="Reps">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().reps"
    (ngModelChange)="onRepsChange($event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field" data-label="Weight">
  <app-weight-input
    [(weight)]="exercise().weight"
    [numberOfSets]="exercise().sets"
    (weightChanged)="onWeightChanged($event)"
  />
</div>
<div class="exercise-field" data-label="RPE">
  <input
    type="number"
    class="transparent-input"
    targetRPE
    [(ngModel)]="exercise().targetRPE"
    (ngModelChange)="updateExerciseProperty('targetRPE', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field" data-label="@RPE">
  <app-rpe-input
    [(rpe)]="exercise().actualRPE"
    [numberOfSets]="exercise().sets"
    (rpeChanged)="onAcutalRpeChange($event)"
  />
</div>
<div class="exercise-field" data-label="Est. Max">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().estMax"
    (ngModelChange)="updateExerciseProperty('estMax', $event)"
    [ngStyle]="{
      opacity: exercise().estMax === 0 ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field notes" data-label="Notes">
  <input
    type="text"
    class="transparent-input"
    [(ngModel)]="exercise().notes"
    (ngModelChange)="updateExerciseProperty('notes', $event)"
  />
</div>
