<div class="exercise-field">
  <app-dropdown
    [options]="exerciseDataService.exerciseCategories()"
    [(selectedValue)]="exercise().category"
    (valueChange)="onExerciseCategoryChange($any($event))"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <app-dropdown
    class="exercise-name-selector"
    [options]="exerciseDataService.categorizedExercises()[exercise().category]"
    [(selectedValue)]="exercise().exercise"
    (valueChange)="updateExerciseProperty('exercise', $any($event))"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' || !exercise().category ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().sets"
    (ngModelChange)="updateExerciseProperty('sets', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().reps"
    (ngModelChange)="onRepsChange($event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <app-weight-input
    [(weight)]="exercise().weight"
    [numberOfSets]="exercise().sets"
    (weightChanged)="onWeightChanged($event)"
  />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().targetRPE"
    min="6"
    max="10"
    (ngModelChange)="updateExerciseProperty('targetRPE', $event)"
    [ngStyle]="{
      opacity: exercise().category === '- Bitte Auswählen -' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="text"
    rpeInputDirective2
    [numberOfSets]="exercise().sets"
    class="transparent-input"
    [(ngModel)]="exercise().actualRPE"
    (ngModelChange)="onAcutalRpeChange($event)"
    [ngStyle]="{
      opacity: exercise().actualRPE === '0' ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="number"
    class="transparent-input"
    [(ngModel)]="exercise().estMax"
    (ngModelChange)="updateExerciseProperty('estMax', $event)"
    [ngStyle]="{
      opacity: exercise().estMax === 0 ? 0 : 1,
    }"
  />
</div>
<div class="exercise-field">
  <input
    type="text"
    class="transparent-input"
    [(ngModel)]="exercise().notes"
    (ngModelChange)="updateExerciseProperty('notes', $event)"
  />
</div>
