<app-alert
  [alertText]="
    'Hier kannst du mehrere Trainingspläne miteinander hinsichtlich einer bestimmten Kategorie miteinander vergleichen!'
  "
/>

<div class="select-container">
  <app-select [isSearchable]="false" [options]="trainingPlanTitles()" [(selectedOptions)]="selectedTrainingPlans" />
</div>

<div class="floating-label-grid">
  <app-floating-label-input
    [label]="'Betrachtete Kategorie'"
    [type]="'select'"
    [options]="allCategories()"
    [(value)]="selectedCategory"
  />

  <app-floating-label-input
    [label]="'Datenansicht'"
    [type]="'select'"
    [options]="trainingStatisticsDataViewOptions()"
    [(value)]="selectedDataViewOption"
  />
</div>
