<app-headline
  [heading]="headlineService.title()"
  [showSpikeLoader]="headlineService.isTitleLoading()"
  [subHeading]="headlineService.subTitle()"
/>

@if (currentButtonIcon() === IconName.MORE_VERTICAL) {
  <app-more-options-button [options]="moreOptions" (optionSelected)="onOptionSelected($event)" />
} @else if (currentButtonIcon()) {
  <app-circular-icon-button [icon]="currentButtonIcon()!" [iconSize]="20" (clicked)="onCircularButtonClick()" />
} @else {
  <div class="image-wrapper">
    <img
      [src]="profileService.userData()?.pictureUrl || '/images/profile-placeholder.webp'"
      alt="M"
      class="h-100 rounded-circle"
    />
  </div>
}
