<app-headline
  [heading]="headerService.title()"
  [showSpikeLoader]="headerService.loading()"
  [subHeading]="headerService.subTitle()"
/>

@if (headerService.buttons().length > 0) {
  <div class="button-container">
    @for (button of headerService.buttons(); track button.icon) {
      @if (button.icon === IconName.MORE_VERTICAL) {
        <app-profile-picture [profilePicture]="profileService.pictureUrl()!" [options]="button.options!" />
      } @else {
        <app-circular-icon-button [icon]="button.icon" [iconSize]="20" (click)="onCircularButtonClick(button)" />
      }
    }
  </div>
} @else {
  <app-profile-picture [profilePicture]="profileService.pictureUrl()!" />
}
