<app-headline
  [heading]="headerService.title()"
  [showSpikeLoader]="headerService.loading()"
  [subHeading]="headerService.subTitle()"
/>

@if (headerService.buttons().length > 0) {
  <div class="button-container">
    @for (button of headerService.buttons(); track button.icon) {
      @if (button.icon === IconName.MORE_VERTICAL) {
        <app-more-options-button [options]="button.options!" />
      } @else {
        <app-circular-icon-button [icon]="button.icon" [iconSize]="20" (clicked)="onCircularButtonClick(button)" />
      }
    }
  </div>
} @else {
  <div class="image-wrapper">
    <img
      [src]="profileService.userData()?.pictureUrl || '/images/profile-placeholder.webp'"
      alt="M"
      class="h-100 rounded-circle"
    />
  </div>
}
