.profile-head {
  transform: translateY(3.5rem);
}

.media-body {
  padding-left: 0.5rem;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  opacity: 0;
  cursor: pointer;
}

.profile-container {
  min-height: 90vh;
}

app-icon-button {
  margin-right: 0.25rem;
}

::ng-deep .outlet-wrapper {
  @media screen and (max-width: 768px) {
    padding-inline: 0% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
