<header id="header" class="py-3 border-bottom bg-light">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr">
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center col-lg-4 mb-lg-0 link-dark text-decoration-none dropdown-toggle"
        id="dropdownNavLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img class="bi me-2" width="38" height="32" src="/images/logo-own.png" alt="" />
      </a>

      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
        <li>
          <a href="/" #navLink #trainingPlanLink class="dropdown-item" (click)="navigateTo($event)">Trainingspläne</a>
        </li>
        <li>
          <a href="/exercises" #navLink class="dropdown-item" (click)="navigateTo($event)">Übungen</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <input
        class="bg-light form-control me-3"
        type="search"
        placeholder="Search..."
        aria-label="Search"
        (input)="onSearchInput($event)"
      />

      <div class="flex-shrink-0 dropdown profile-picture-dropdown-container">
        <a
          href="#"
          #navLink
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="profile?.pictureUrl ?? '/images/profile-placeholder.webp'"
            alt="M"
            width="26"
            height="26"
            class="rounded-circle"
          />
          @if (trainingDayNotifications$ | async; as trainingDayNotifications) {
            @if (trainingDayNotifications.length > 0) {
              <span class="notification-badge">{{ trainingDayNotifications.length }}</span>
            }
          }
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li>
            <a class="dropdown-item" #navLink href="profile" (click)="navigateTo($event)">Profile</a>
          </li>
          <li>
            <a href="/user/usage" #navLink #statisticLink class="dropdown-item" (click)="navigateTo($event)"
              >Nutzungstatistiken</a
            >
          </li>
          <li>
            <a href="/user/ticket" #navLink #statisticLink class="dropdown-item" (click)="navigateTo($event)">Ticket</a>
          </li>

          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" #navLink href="login" (click)="navigateTo($event)">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
