@import 'client/src/css/variables';

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-inline: 7.5%;
  z-index: 999;
  background-image: linear-gradient(rgba(240, 240, 240, 0.6), rgba(250, 250, 250, 0.65)),
    url('/images/background/white-3.avif');
  background-size: cover;
  background-repeat: no-repeat;
}

#header .dropdown {
  z-index: 1000;

  & .dropdown-item.active {
    background: $accent-color;
  }

  & .dropdown-item:active {
    background: white;
    color: black;
  }
}

.form-control {
  background: inherit;
}

@media screen and (max-width: 786px) {
  #header {
    padding: 0 4% 0% 1.5%;
  }
}

.profile-picture-dropdown-container {
  position: relative;

  .notification-badge {
    position: absolute;
    top: 5px;
    right: 0;
    transform: translate(50%, -50%);
    background-color: $accent-color;
    color: white;
    border-radius: 50%;
    width: 1.5em; // Ensure the width and height are the same
    height: 1.5em; // Ensure the width and height are the same
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: bold;
  }
}
