.outlet-wrapper {
  padding-top: 5rem;
  padding-inline: 7.5%;
}

@media screen and (max-width: 786px) {
  .outlet-wrapper {
    padding-inline: 4%;
    padding-bottom: 7rem;
    min-height: 100vh;
  }
}
