@switch (directiveUsed()) {
  @case ('interactiveElementDirective') {
    <input
      appInteractiveElement
      type="type()"
      class="transparent-input"
      [name]="name()"
      [placeholder]="placeholder()"
      [value]="value()"
      [ngClass]="{
        'text-left': mobileDetectionService.isMobileDevice,
        'text-center': !mobileDetectionService.isMobileDevice && alignText() === 'center',
        'opacity-0': type() === 'number' && value() === undefined,
      }"
    />
  }

  @case ('weightInputDirective') {
    <input
      weightInput
      type="type()"
      class="transparent-input"
      [name]="name()"
      [placeholder]="placeholder()"
      [value]="value()"
      [ngClass]="{
        'text-left': mobileDetectionService.isMobileDevice,
        'text-center': !mobileDetectionService.isMobileDevice && alignText() === 'center',
      }"
    />
  }

  @case ('rpeInputDirective') {
    <input
      rpeInputDirective
      type="type()"
      class="transparent-input"
      [name]="name()"
      [placeholder]="placeholder()"
      [value]="value()"
      [ngClass]="{
        'text-left': mobileDetectionService.isMobileDevice,
        'text-center': !mobileDetectionService.isMobileDevice && alignText() === 'center',
      }"
    />
  }
}
