:host {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.week-day-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  gap: 0;
}

.day {
  padding-block: 0.75rem;
  border-right: 1px solid #e0e0e0;
  color: grey;
  display: grid;
  place-items: center;
  transition: color 0.3s ease;

  &:last-of-type {
    border: none;
  }

  &.selected {
    color: #0073ff;
  }
}
