:host {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;

  .day {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 50%;
    width: 2.55em;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      border-color 0.2s ease;

    &.selected {
      color: white;
      background-color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
