.custom-button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.375rem 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.custom-button i {
  font-size: 1.2rem;
}

.custom-button:hover {
  background-color: #e0e0e0;
  border-color: #bbb;
}
