@if (exerciseData$ | async; as exerciseData) {
  <div class="container">
    <form>
      @for (category of exerciseData.exerciseCategories; track category; let categoryIndex = $index) {
        @if (categoryIndex > 0) {
          <table class="table mb-5 table-hover">
            <thead>
              <tr>
                <th scope="col">{{ category }}</th>
              </tr>
            </thead>
            <tbody>
              @for (
                exercise of exerciseData.categorizedExercises[category];
                track exercise;
                let exerciseIndex = $index
              ) {
                <tr>
                  <td [attr.data-cell]="category">
                    <input
                      type="text"
                      class="transparent-input"
                      appInteractiveElement
                      [name]="categoryIndex + '_' + exerciseIndex + '_exercise'"
                      [value]="exercise || ''"
                      style="text-align: left; padding: 0"
                    />
                  </td>
                </tr>
              }
              <!-- Always show the following rows for each category -->
              <tr class="top-border">
                <td [attr.data-cell]="'Rest-time'">
                  <div>
                    <select
                      [name]="categoryIndex + '_categoryPauseTimeSelect'"
                      appInteractiveElement
                      class="transparent-input"
                    >
                      @for (time of [60, 90, 120, 150, 180, 210, 240, 270, 300]; track time) {
                        <option [value]="time" [selected]="exerciseData.categoryPauseTimes[category] === time">
                          {{ time / 60 }} Minuten
                        </option>
                      }
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td [attr.data-cell]="'sets'">
                  <div>
                    <select
                      [name]="categoryIndex + '_categoryDefaultSetSelect'"
                      appInteractiveElement
                      class="transparent-input"
                    >
                      @for (sets of [2, 3, 4, 5, 6]; track sets) {
                        <option
                          [value]="sets"
                          [selected]="exerciseData.defaultRepSchemeByCategory[category].defaultSets === sets"
                        >
                          {{ sets }} Sets
                        </option>
                      }
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td [attr.data-cell]="'reps'">
                  <div>
                    <select
                      [name]="categoryIndex + '_categoryDefaultRepSelect'"
                      appInteractiveElement
                      class="transparent-input"
                    >
                      @for (reps of [3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; track reps) {
                        <option
                          [value]="reps"
                          [selected]="exerciseData.defaultRepSchemeByCategory[category].defaultReps === reps"
                        >
                          {{ reps }} Reps
                        </option>
                      }
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td [attr.data-cell]="'RPE'">
                  <div>
                    <select
                      [name]="categoryIndex + '_categoryDefaultRPESelect'"
                      appInteractiveElement
                      class="transparent-input"
                    >
                      @for (rpe of [6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10]; track rpe) {
                        <option
                          [value]="rpe"
                          [selected]="exerciseData.defaultRepSchemeByCategory[category].defaultRPE === rpe"
                        >
                          RPE {{ rpe }}
                        </option>
                      }
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        }
      }
      <button class="btn btn-outline-dark m-1" id="reset-btn" type="button" (click)="onReset($event)">Reset</button>
    </form>
  </div>
} @else {
  <app-exercise-table-skeleton />
}
