@if (exerciseData$ | async; as exerciseData) {
  <div class="container">
    <form>
      @for (category of exerciseData.exerciseCategories; track category; let categoryIndex = $index) {
        @if (categoryIndex > 0) {
          <table class="table mb-5 table-hover">
            <thead>
              <tr>
                <th scope="col">{{ category }}</th>
              </tr>
            </thead>
            <tbody>
              @for (
                exercise of exerciseData.categorizedExercises[category];
                track exercise;
                let exerciseIndex = $index
              ) {
                <tr>
                  <td [attr.data-cell]="category">
                    <app-input
                      [type]="'text'"
                      [name]="categoryIndex + '_' + exerciseIndex + '_exercise'"
                      [value]="exercise ?? ''"
                      [alignText]="'left'"
                    />
                    <!-- <input
                      type="text"
                      class="transparent-input"
                      appInteractiveElement
                      [name]="categoryIndex + '_' + exerciseIndex + '_exercise'"
                      [value]="exercise || ''"
                      style="text-align: left; padding: 0"
                    /> -->
                  </td>
                </tr>
              }
              <!-- Always show the following rows for each category -->
              <tr class="top-border">
                <td [attr.data-cell]="'Rest-time'">
                  <app-select
                    [name]="categoryIndex + '_categoryPauseTimeSelect'"
                    [options]="pauseTimeOptions()"
                    [optionLabels]="pauseTimeLabels()"
                    [selectedValue]="exerciseData.categoryPauseTimes[category]"
                  />
                </td>
              </tr>
              <tr>
                <td [attr.data-cell]="'sets'">
                  <app-select
                    [name]="categoryIndex + '_categoryDefaultSetSelect'"
                    [options]="amountOfSetsOptions()"
                    [optionLabels]="amountofSetsLabels()"
                    [selectedValue]="exerciseData.defaultRepSchemeByCategory[category].defaultSets"
                  />
                </td>
              </tr>
              <tr>
                <td [attr.data-cell]="'reps'">
                  <app-select
                    [name]="categoryIndex + '_categoryDefaultRepSelect'"
                    [options]="repsOptions()"
                    [optionLabels]="repsOptionsLabels()"
                    [selectedValue]="exerciseData.defaultRepSchemeByCategory[category].defaultReps"
                  />
                </td>
              </tr>
              <tr>
                <td [attr.data-cell]="'RPE'">
                  <app-select
                    [name]="categoryIndex + '_categoryDefaultRPESelect'"
                    [options]="rpeOptions()"
                    [optionLabels]="rpeOptionsLabels()"
                    [selectedValue]="exerciseData.defaultRepSchemeByCategory[category].defaultRPE"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        }
      }
      <button class="btn btn-outline-dark m-1" id="reset-btn" type="button" (click)="onReset($event)">Reset</button>
    </form>
  </div>
} @else {
  <app-exercise-table-skeleton />
}
