<div class="modal fade show" style="display: block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <ng-template #modalContent></ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">
          {{ confirmButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>
