<div class="timer-display">
  <app-percentage-circle-visualisation
    class="timer-display"
    [size]="275"
    [percentage]="percentageRemaining()"
    (percentageChanged)="calcTimeAndAdjustTimer($event)"
  />

  <span class="time-remaining">{{ pauseTimeService.remainingTime() | formatTime }}</span>

  <span class="initial-time">{{ pauseTimeService.getInitialTime() | formatTime }}</span>
</div>

<div class="timer-controls">
  <button class="timer-button minus-button" (click)="adjustTime(-30)">-30 SEC</button>
  <button class="timer-button plus-button" (click)="adjustTime(30)">+30 SEC</button>
  <button class="timer-button skip-button" (click)="skipTimer()">SKIP</button>
</div>
