<app-headline
  [heading]="headlineService.title()"
  [showSpikeLoader]="headlineService.isTitleLoading()"
  [subHeading]="headlineService.subTitle()"
/>

@if (currentButtonIcon() === IconName.CLOCK) {
  <app-circular-icon-button
    [icon]="IconName.CLOCK"
    [iconSize]="20"
    (clicked)="onCircularButtonClick()"
  ></app-circular-icon-button>
} @else if (currentButtonIcon() === IconName.PLUS) {
  <app-circular-icon-button
    [icon]="IconName.PLUS"
    [iconSize]="20"
    (clicked)="onCircularButtonClick()"
  ></app-circular-icon-button>
} @else {
  <div class="image-wrapper">
    <img
      [src]="profileService.userData?.pictureUrl || '/images/profile-placeholder.webp'"
      alt="M"
      class="h-100 rounded-circle"
    />
  </div>
}
