:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 1.2rem;
  font-weight: bold;
}

.sub-heading {
  font-size: 1rem;
  color: #84878a;
}

.rounded-circle {
  padding: 0.5em;
  border-radius: 50%;
}
