<!-- Signup Form -->
<section class="container forms">
  <div class="form signup">
    <div class="form-content">
      <header>Signup</header>
      <form action="#">
        <div class="field input-field">
          <input
            type="text"
            placeholder="Username"
            name="username"
            class="input"
          />
        </div>
        <div class="field input-field">
          <input type="email" placeholder="Email" name="email" class="input" />
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Create password"
            name="password"
            class="password"
          />
          <i
            class="bx bx-hide eye-icon"
            (click)="togglePasswordVisibility($event)"
          ></i>
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Confirm password"
            name="confirmPassword"
            class="password"
          />
          <i
            class="bx bx-hide eye-icon"
            (click)="togglePasswordVisibility($event)"
          ></i>
        </div>
        <div class="field button-field">
          <button>Signup</button>
        </div>
      </form>
      <div class="form-link">
        <span
          >Already have an account?
          <a href="/login" class="link login-link" (click)="navigateTo($event)"
            >Login</a
          ></span
        >
      </div>
    </div>
    <div class="line"></div>

    <div class="media-options">
      <a href="#" class="field google">
        <img src="/images/google.png" alt="" class="google-img" />
        <span>Login with Google</span>
      </a>
    </div>
  </div>
</section>
