@if (currentPage === 0) {

<app-alert
  alertType="light"
  alertText="Mit horizontalen Wischgesten kannst du zwischen den Tagen navigieren."
></app-alert>

<div class="w-100 mb-3">
  <img
    src="/images/swipe-gestures.webp"
    alt=""
    style="max-width: 100%; height: auto; border-radius: 20px"
  />
</div>
} @else {
<app-alert
  alertType="light"
  alertText="Mit einer Wischgeste von oben links nach unten rechts navigierst du zwischen den einzelnen Trainingswochen."
></app-alert>

<div class="w-100 mb-3">
  <img
    src="/images/swipe-gestures-2.webp"
    alt=""
    style="max-width: 100%; height: auto; border-radius: 20px"
  />
</div>
}
<div class="d-flex justify-content-center">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="2"
    (pageChanged)="changeView($event)"
  />
</div>

<!-- Hier noch eine Checkbox Component einbauen, damit das dann entsprechend dem Nutzer nicht nochmal angezeigt werden muss -->
