@if (isLoaded()) {
  <div class="select-container">
    <app-select
      [items]="allExercises()"
      [(selectedItems)]="selectedExercises"
      [toggleOnSelect]="true"
      [isSingleSelect]="isDetailView()"
    />

    <app-select
      [items]="allExercises()"
      [(selectedItems)]="selectedExercises"
      [toggleOnSelect]="true"
      [isSingleSelect]="isDetailView()"
    />
  </div>

  <div class="chart-grid">
    <app-line-chart [data]="lineChartData()" yAxisTitle="Tonnage (kg)" />

    <app-grouped-bar-chart [groupedBarChartData]="groupedBarChartData()" />
  </div>

  <div class="pagination-container">
    <app-pagination [currentPage]="0" [totalPages]="2" (pageChanged)="onPageChanged($event)" />
  </div>
} @else {
  <div class="chart-grid">
    <app-chart-skeleton />
    <app-chart-skeleton />
  </div>
}
