:host {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: 2rem;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.chart-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.pagination-container {
  padding-left: 3rem;
}

@media (max-width: 1024px) {
  .chart-grid {
    grid-template-columns: 1fr;
  }

  .pagination-container {
    display: grid;
    place-items: center;
  }
}
