<div class="dropdown-header">
  <div class="chip">{{ value() }}</div>

  <div>
    @if (isOpen()) {
      <app-icon [name]="IconName.ChevronUp" />
    } @else {
      <app-icon [name]="IconName.ChevronDown" />
    }
  </div>
</div>
<div class="dropdown-menu" [@toggleCollapse]="isOpen() ? 'expanded' : 'collapsed'" (click)="$event.stopPropagation()">
  <div class="checkbox-container">
    @for (option of options(); track option) {
      <app-checkbox
        [item]="{ label: option, isChecked: option === value() }"
        (valueChanged)="onSelectionChange(option)"
      />
    }
  </div>
</div>
