@if (isLoading) {
<app-spinner></app-spinner>
} @else {
<div class="container my-4">
  <div class="row align-items-center">
    <div class="col text-left">
      <h3 class="display-4 title">{{ title }}</h3>
      <p class="lead week-day-info">
        Week {{ trainingWeekIndex }} - Day {{ trainingDayIndex }}
      </p>
    </div>
  </div>
</div>

<form (submit)="onSubmit($event)">
  <table
    class="table table-striped training-table responsive-table caption-top mb-4"
  >
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Exercise</th>
        <th scope="col" class="text-center">Sets</th>
        <th scope="col" class="text-center">Reps</th>
        <th scope="col" class="text-center">Weight</th>
        <th scope="col" class="text-center">RPE</th>
        <th scope="col" class="text-center">&#64;RPE</th>
        <th scope="col" class="text-center">Max</th>
      </tr>
    </thead>
    <tbody>
      @for (k of [1, 2, 3, 4, 5, 6, 7, 8]; track k) {
      <tr>
        <td data-cell="Category">
          <select
            name="day{{ day }}_exercise{{ k }}_category"
            class="exercise-category-selector transparent-input w-100"
            (change)="onCategoryChange($event)"
            [ngStyle]="{
              opacity:
                getExercise(k).category === '- Bitte Auswählen -' ||
                !getExercise(k).category
                  ? 0
                  : 1
            }"
          >
            @for (category of exerciseCategories; track category) {
            <option
              [value]="category"
              [selected]="getExercise(k).category === category"
            >
              {{ category }}
            </option>
            }
          </select>
        </td>
        <td data-cell="Exercise">
          @for (category of exerciseCategories; track category) {
          <select
            name="day{{ day }}_exercise{{ k }}_exercise_name"
            class="exercise-name-selector transparent-input"
            [disabled]="getExercise(k).category !== category"
            [style.display]="
              getExercise(k).category === category ? 'block' : 'none'
            "
            (change)="onInputChange($event)"
          >
            @for (exerciseName of categorizedExercises[category]; track
            exerciseName) {
            <option
              [value]="exerciseName"
              [selected]="getExercise(k).exercise === exerciseName"
            >
              {{ exerciseName }}
            </option>
            }
          </select>
          }
        </td>
        <td data-cell="Sets">
          <input
            type="number"
            class="transparent-input sets"
            name="day{{ day }}_exercise{{ k }}_sets"
            [value]="getExercise(k).sets || ''"
            (input)="onInputChange($event)"
          />
        </td>
        <td data-cell="Reps">
          <input
            type="number"
            class="transparent-input reps"
            name="day{{ day }}_exercise{{ k }}_reps"
            [value]="getExercise(k).reps || ''"
            (input)="onInputChange($event)"
          />
        </td>
        <td data-cell="Weight">
          <input
            type="number"
            class="transparent-input weight"
            name="day{{ day }}_exercise{{ k }}_weight"
            [value]="getExercise(k).weight || ''"
            (input)="onInputChange($event)"
          />
        </td>
        <td data-cell="RPE">
          <input
            type="number"
            class="transparent-input targetRPE"
            name="day{{ day }}_exercise{{ k }}_targetRPE"
            [value]="getExercise(k).targetRPE || ''"
            (input)="onInputChange($event)"
          />
        </td>
        <td data-cell="@RPE">
          <input
            type="string"
            class="transparent-input actualRPE"
            name="day{{ day }}_exercise{{ k }}_actualRPE"
            [value]="getExercise(k).actualRPE || ''"
            (input)="onInputChange($event)"
          />
        </td>
        <td data-cell="Est. Max">
          <input
            type="number"
            class="transparent-input estMax"
            readonly
            name="day{{ day }}_exercise{{ k }}_estMax"
            [value]="getExercise(k).estMax || ''"
            (input)="onInputChange($event)"
          />
        </td>
      </tr>
      }
    </tbody>
  </table>

  <input type="submit" class="btn btn-dark" />
</form>
}
