/* Skeleton Loader Styles */
.skeleton-img {
  height: 175px;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-avatar {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 50%;
  position: absolute;
  top: 147.5px;
  left: 10px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-title {
  width: 70%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.card-body {
  padding-top: 2.75rem;
  min-height: 190px;
}

.card-footer {
  background-color: inherit;
  border-top: none;
}

.card-footer.d-flex {
  display: flex;
  justify-content: start;
  gap: 12px; /* Or any other value */
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
