<div class="card card-custom bg-white border-white border-0 mb-3">
  <div class="card-custom-img skeleton-img"></div>
  <div class="card-custom-avatar"></div>
  <div class="card-custom-avatar">
    <div class="img-fluid skeleton-avatar"></div>
  </div>
  <div class="card-body">
    <app-skeleton [height]="'20px'" [width]="'70%'" [animationStyle]="pulse" />
    <app-skeleton [height]="'15px'" [width]="'12rem'" [animationStyle]="pulse" />
    <app-skeleton [height]="'15px'" [width]="'9.5rem'" [animationStyle]="pulse" />
  </div>
  <div class="card-footer d-flex">
    <app-skeleton [height]="'2rem'" [width]="'2rem'" [animationStyle]="pulse" />
    <app-skeleton [height]="'2rem'" [width]="'2rem'" [animationStyle]="pulse" />
    <app-skeleton [height]="'2rem'" [width]="'2rem'" [animationStyle]="pulse" />
    <app-skeleton [height]="'2rem'" [width]="'2rem'" [animationStyle]="pulse" />
  </div>
</div>
