<div class="training-grid" #trainingGrid>
  <div class="day-name">Category</div>
  <div class="day-name">Exercise</div>
  <div class="day-name">Sets</div>
  <div class="day-name">Reps</div>
  <div class="day-name">Weight</div>
  <div class="day-name">RPE</div>
  <div class="day-name">&#64;RPE</div>
  <div class="day-name">MAX</div>
  <div class="day-name">Notes</div>

  @for (exercise of numberOfExercises(); track exercise; let exerciseIndex = $index) {
    @for (k of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track k) {
      <div class="day">
        <input class="transparent-input" [value]="exerciseIndex" />
      </div>
    }
  }
</div>

<app-add-row-button [isVisible]="showAddRowButton()" (addRow)="addRow()" (removeRow)="removeRow()"></app-add-row-button>
