<div class="speech-container">
  <div [ngClass]="{ 'profile-picture-ring': true, speaking: isListening() }">
    <img
      [src]="profilePictureUrl"
      (click)="toggleListening()"
      alt="Profile Picture"
      class="profile-picture"
    />
  </div>

  <div class="exercise-select form-group mt-3 w-100">
    <select class="form-control" id="exerciseSelect">
      @for (exercise of exercises; track exercise) {
      <option>
        {{ exercise.exercise }} {{ exercise.sets }} x {{ exercise.reps }}
      </option>
      }
    </select>
  </div>

  <!-- Transcript Speech Bubble (from the user) -->
  <div class="chat-bubble left">
    <p>{{ transcript !== "" ? transcript : "..." }}</p>
  </div>

  <!-- Derived Action Speech Bubble (response) -->
  <div class="chat-bubble right">
    @if (isTrainingSetEmpty(trainingSet) && isListening()) {
    <p>...</p>

    } @else {
    <pre>{{ getFormattedTrainingSet() }}</pre>
    }
  </div>
</div>
