<div class="speech-container">
  <div [ngClass]="{ 'profile-picture-ring': true, speaking: isListening() }">
    <img
      [src]="profilePictureUrl"
      alt="Profile Picture"
      class="profile-picture"
    />
  </div>

  <!-- Transcript Speech Bubble (from the user) -->
  <div class="chat-bubble left">
    <p>{{ transcript !== "" ? transcript : "..." }}</p>
  </div>

  <!-- Derived Action Speech Bubble (response) -->
  <div class="chat-bubble right">
    @if (isTrainingSetEmpty(trainingSet)) {
    <p>...</p>

    } @else {
    <p>{{ trainingSet }}</p>
    }
  </div>
</div>
