span {
  position: absolute;
  top: -12px;
  background-color: var(--accent-color);
  color: white;
  padding: 2px;
  font-size: 0.75rem;
  font-weight: bold;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  display: grid;
  place-items: center;

  &.top-right {
    right: -16px;
  }

  &.top-left {
    top: 2px;
    left: 0px;
  }
}
