@if (trainingPlans) {
<!-- + Button with Label -->
<div class="container mt-4 mb-3">
  <div class="d-flex justify-content-end align-items-center">
    <span class="me-2">Neuen Plan erstellen</span>
    <button type="button" class="btn btn-light" (click)="createNewPlan()">
      <i class="bx bx-plus"></i>
    </button>
  </div>
</div>

<section id="gallery">
  <div class="container">
    <div class="row">
      <!-- Alert if no training plans -->
      @if (trainingPlans.length === 0) {
      <div class="col-12">
        <app-alert
          alertType="light"
          alertText="Du hast noch keine eigenen Trainingspläne erstellt. Erstelle welche mit dem Button oben!"
        ></app-alert>
      </div>
      } @else { @for (trainingPlan of trainingPlans; track trainingPlan; let i =
      $index) {
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
            alt="Training Image"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title mb-3">{{ trainingPlan.title }}</h5>
            <p class="card-text mb-1">
              Frequenz:
              <span class="text-muted"
                >{{ trainingPlan.trainingFrequency }} Trainings / Woche</span
              >
            </p>
            <p class="card-text">
              Zuletzt angesehen:
              <span class="text-muted">{{ trainingPlan.lastUpdated }}</span>
            </p>
            <button
              type="button"
              class="btn btn-light btn-md m-1"
              (click)="viewTrainingPlan(i)"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Ansehen"
            >
              <i class="bx bx-show"></i>
            </button>
            <button
              type="button"
              class="btn btn-light btn-md m-1"
              (click)="editTrainingPlan(i)"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Bearbeiten"
            >
              <i class="bx bx-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-light btn-md m-1"
              (click)="deleteTrainingPlan(i)"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Löschen"
            >
              <i class="bx bx-trash"></i>
            </button>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
</section>
} @else {
<app-spinner></app-spinner>
}
