@if (loading()) {
  <app-skeleton [height]="'12rem'" />
  @for (k of [1, 2, 3]; track k) {
    <app-skeleton [height]="'4.25rem'" />
  }
} @else {
  <form (ngSubmit)="onConfirm()">
    @if (isCropView()) {
      <image-cropper
        id="cover-image"
        [imageBase64]="image()!"
        [maintainAspectRatio]="false"
        (imageCropped)="imageCropped($event)"
        format="png"
      />
    } @else {
      <img #coverImage [src]="image() || placeholderCoverImage" alt="Cover Placeholder" id="cover-image" />
    }
    <input
      type="file"
      name="cover-image"
      id="cover-image"
      class="form-control-file position-absolute"
      style="opacity: 0; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer"
      (change)="handleImageUpload($event)"
    />

    <app-floating-label-input [label]="'Title'" [(value)]="trainingPlan.title" [required]="true" />

    <app-floating-label-input
      [label]="'Trainings / Week'"
      [(value)]="trainingPlan.trainingFrequency"
      [required]="true"
      type="select"
      [options]="[
        { value: 3, label: '3' },
        { value: 4, label: '4' },
        { value: 5, label: '5' },
        { value: 6, label: '6' },
      ]"
    />

    <app-floating-label-input
      [label]="'Trainingdauer (Wochen)'"
      [(value)]="trainingPlan.trainingBlockLength"
      [required]="true"
      type="select"
      [options]="[
        { value: 3, label: '3' },
        { value: 4, label: '4' },
        { value: 5, label: '5' },
        { value: 6, label: '6' },
      ]"
    />

    <app-floating-label-input
      [label]="'Gewichtsempfehlungen'"
      [(value)]="trainingPlan.weightRecommendationBase"
      [required]="true"
      type="select"
      [options]="[
        { value: 'lastWeek', label: 'Vorherige Woche' },
        { value: 'off', label: 'Keine' },
      ]"
    />
  </form>
}
