@if (!trainingPlanEditView) {
  <app-skeleton [height]="'12rem'" />
  @for (k of [1, 2, 3]; track k) {
    <app-skeleton [height]="'4.25rem'" />
  }
} @else {
  <app-training-banner [(imageSrc)]="trainingPlanEditView.coverImageBase64" />

  <div class="input-group">
    <app-floating-label-input [label]="'Title'" [(value)]="trainingPlanEditView.title" [required]="true" />

    <app-floating-label-input
      [label]="'Trainingdauer (Wochen)'"
      [(value)]="trainingPlanEditView.trainingBlockLength"
      [required]="true"
      type="select"
      [options]="[
        { value: 2, label: '2' },
        { value: 3, label: '3' },
        { value: 4, label: '4' },
        { value: 5, label: '5' },
        { value: 6, label: '6' },
        { value: 7, label: '7' },
        { value: 8, label: '8' },
      ]"
    />
  </div>
}
