@if (loading()) {
  <app-skeleton [height]="'12rem'" />
  @for (k of [1, 2, 3]; track k) {
    <app-skeleton [height]="'4.25rem'" />
  }
} @else {
  <form (ngSubmit)="onConfirm()">
    <div class="form-group text-center mb-4 position-relative">
      <img #coverImage [src]="placeholderCoverImage" alt="Cover Image Placeholder" id="cover-image" />
      <input
        type="file"
        name="cover-image"
        id="cover-image"
        class="form-control-file position-absolute"
        style="opacity: 0; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer"
        (change)="handleImageUpload($event)"
      />
    </div>

    <!-- Title Input -->
    <div class="form-floating mb-4">
      <input
        type="text"
        class="form-control"
        id="training_title"
        [(ngModel)]="title"
        name="training_title"
        placeholder="Title"
        required
      />
      <label for="training_title">Title</label>
      @if (!isTitleValid()) {
        <div class="text-danger">Title is required</div>
      }
    </div>

    <!-- Training Frequency -->
    <div class="form-floating mb-4">
      <select
        id="training_frequency"
        name="training_frequency"
        class="form-control"
        [(ngModel)]="trainingFrequency"
        required
      >
        <option value="" disabled hidden></option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <label for="training_frequency">Trainings / Week</label>
      @if (!isTrainingFrequencyValid()) {
        <div class="text-danger">Training frequency is required</div>
      }
    </div>

    <!-- Training Weeks -->
    <div class="form-floating mb-4">
      <select id="training_weeks" name="training_weeks" class="form-control" [(ngModel)]="trainingWeeks" required>
        <option value="" disabled hidden></option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <label for="training_weeks">Block Duration (Weeks)</label>
      @if (!isTrainingWeeksValid()) {
        <div class="text-danger">Training weeks are required</div>
      }
    </div>

    <!-- Weight Recommendations -->
    <div class="form-floating mb-4">
      <select class="form-control" [(ngModel)]="weightPlaceholders" name="weight_placeholders" required>
        <option value="lastWeek">Based on last week</option>
        <option value="off">No weight recommendations</option>
      </select>
      <label for="weightPlaceholders">Weight Recommendations</label>
      @if (!isWeightPlaceholdersValid()) {
        <div class="text-danger">Weight recommendations are required</div>
      }
    </div>
  </form>
}
