:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  z-index: 1040; /* Ensure this is below Bootstrap Modals if used */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
