    <app-pagination
      [currentPage]="trainingDayIndex()"
      [totalPages]="trainingDataService.trainingFrequency"
      (pageChanged)="navigationService.navigateDay($event)"
    />

    <div>
      <app-icon
        [appTooltip]="'Vorherige Woche'"
        (click)="navigationService.navigateWeek(NavigationDirection.BACKWARD, trainingDayIndex())"
        [name]="IconName.CHEVRON_LEFT"
        [size]="28"
      />
      <app-icon
        [appTooltip]="'Näcshte Woche'"
        [name]="IconName.CHEVRON_RIGHT"
        (click)="navigationService.navigateWeek(NavigationDirection.FORWARD, trainingDayIndex())"
        [size]="28"
      />
    </div>