<app-alert
  alertText="Deine Anfrage muss erst angenommen werden, damit du die Freunde in deiner Kontaktliste sehen kannst!"
></app-alert>

<input
  class="form-control me-2 mb-2"
  type="search"
  placeholder="Freunde suchen"
  aria-label="Search"
  (input)="filterFriends($event)"
/>

<div class="col-12 mb-3">
  @if (loading$ | async) {
    @for (i of [1, 2, 3, 4, 5]; track i) {
      <app-friend-card-skeleton />
    }
  } @else {
    @for (friend of friends$ | async; track friend.id) {
      <app-friend-card [friend]="friend" (confirmEvent)="onFriendRequestSend($event)"></app-friend-card>
    }

    @for (i of [1, 2, 3, 4, 5]; track i) {
      <app-friend-card-skeleton />
    }
  }
</div>
