<app-alert
  alertType="light"
  alertText="Deine Anfrage muss erst angenommen werden, damit du die Freunde in deiner Kontaktliste sehen kannst!"
></app-alert>

<input
  class="form-control me-2 mb-2"
  type="search"
  placeholder="Freunde suchen"
  aria-label="Search"
  (input)="filterFriends($event)"
/>

@if (loading$ | async) {
<app-spinner></app-spinner>
} @else { @for (friend of friends$ | async; track friend.id) {
<div class="col-12 mb-3">
  <app-friend-card
    [friend]="friend"
    (friendRequestSend)="onFriendRequestSend($event)"
  ></app-friend-card>
</div>
} }
