.modal-header,
.modal-body,
.modal-footer {
  background-color: transparent !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  cursor: move;
}

.modal-footer {
  justify-content: space-between;

  .modal-pagination {
    display: flex;
    gap: 0.5rem;
    font-size: smaller;

    & div:first-of-type {
      text-decoration: underline;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  animation: fadeIn 0.15s ease-out;
}

@media screen and (min-width: 1200px) {
  .modal-content {
    background: white;
  }
}
