<div class="modal fade show" style="display: block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" appDraggable [ngClass]="size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <ng-template #modalContent></ng-template>
      </div>
      @if (footer) {
        <div class="modal-footer">
          @if (secondaryButtonText) {
            <app-button [variant]="'SECONDARY'" [textContent]="secondaryButtonText" (clicked)="toggleModalView()" />
          }

          @let buttonVariant = isDestructiveAction ? 'DESTRUCTIVE' : 'PRIMARY';
          <app-button [variant]="buttonVariant" [textContent]="confirmButtonText" (clicked)="confirm()" />
        </div>
      }
    </div>
  </div>
</div>
