<app-headline [subHeading]="'gym'" [heading]="'ticket'" />

@if (gymTicket$ | async; as gymTicket) {
  <div class="picture-container">
    @if (gymTicket !== NO_GYM_TICKET_AVAILABLE) {
      <div class="upload-container" (click)="fileInput.click()">
        <img [src]="gymTicket" alt="Upload Image" class="w-100" />

        <input type="file" #fileInput (change)="handleImageUpload($event)" accept="image/*" hidden />
      </div>
    } @else {
      <div class="upload-dropzone" (click)="fileInput.click()">
        <p>Drag & Drop your gym ticket here, or click to select an image.</p>
        <input type="file" #fileInput (change)="handleImageUpload($event)" accept="image/*" hidden />
      </div>
    }
  </div>
} @else {
  <app-skeleton [height]="'75vh'" />
}
