@if (activityCalendarData$ | async; as activityData) {
  <app-activity-calendar [activityData]="activityData" />

  @if (recentTrainingDurations$ | async; as recentTrainingDurations) {
    {{ recentTrainingDurations | json }}

    <!-- Map the recentTrainingDurations to the LineChartDataset structure -->
    <app-line-chart
      [yAxisTitle]="'Trainingsdauer in Minuten'"
      [labels]="['Trainingsdauer (in Minuten)']"
      [data]="[{ data: recentTrainingDurations }]"
    />

    @if (trainingDayNotifications$ | async; as trainingDayNotifications) {
      <app-training-day-notification [notificationsInput]="trainingDayNotifications" />
    } @else {
      <app-spinner />
    }
  } @else {
    <app-spinner />
  }
} @else {
  <app-spinner />
}
