<app-alert
  class="mb-3"
  alertType="primary"
  alertText="Stelle sicher, dass du deinen Trainingsplan bereits vollständig erstellt und gespeichert hast."
></app-alert>

<div class="row">
  <div class="col-md-12">
    <div class="card-body">
      <form [formGroup]="autoProgressionForm" (ngSubmit)="onConfirm()">
        <!-- RPE Progression per Week -->
        <div class="form-floating mb-4">
          <select id="rpe_progression" class="form-control" formControlName="rpeProgression" required>
            <option value="0">0</option>
            <option value="0.5" selected>0.5</option>
            <option value="1">1</option>
          </select>
          <label for="rpe_progression">RPE Anstieg pro Woche</label>
        </div>

        <!-- Deload Week Planning -->
        <div class="form-floating mb-4">
          <select id="deload_week" class="form-control" formControlName="deloadWeek" required>
            <option value="true" selected>Ja</option>
            <option value="false">Nein</option>
          </select>
          <label for="deload_week">Letzte Woche als Deload planen?</label>
        </div>
      </form>
    </div>
  </div>
</div>
