<app-info
  [infoText]="'Stelle sicher, dass du deinen Trainingsplan bereits vollständig erstellt und gespeichert hast.'"
/>

<div class="input-group">
  <app-floating-label-input
    [label]="'RPE Anstieg pro Woche'"
    [(value)]="rpeProgressionOption"
    [type]="'select'"
    [options]="[
      { label: '0.5', value: 0.5 },
      { label: '1', value: 1 },
    ]"
  />

  <app-floating-label-input
    [label]="'Letzte Woche als Deload planen?'"
    [(value)]="isDeloadWeekOptionSelection"
    [type]="'select'"
    [options]="[
      { label: 'Ja', value: true },
      { label: 'Nein', value: false },
    ]"
  />
</div>
