<!-- Überprüfe, ob ein Ticket-Bild verfügbar ist -->
@if (ticketImage !== NO_GYM_TICKET_AVAILABLE) {
  <div class="upload-container" (click)="fileInput.click()">
    @if (isCropping) {
      <image-cropper
        [imageBase64]="ticketImage"
        (imageCropped)="imageCropped($event)"
        [maintainAspectRatio]="true"
        format="png"
      />
    } @else {
      <img [src]="ticketImage" alt="Upload Ticket" class="w-100" />
    }

    <input type="file" #fileInput (change)="handleImageUpload($event)" accept="image/*" hidden />
  </div>

  <!-- Button, um das bestehende Ticket zu bearbeiten -->
  @if (isCropping) {
    <button (click)="uploadCroppedImage()" class="btn btn-success mt-3">Zugeschnittenes Bild hochladen</button>
  } @else {
    <button (click)="startCropping()" class="btn btn-primary mt-3">Bild zuschneiden</button>
  }

  <!-- Zeige den Cropper nur, wenn isCropping true ist -->
} @else {
  <!-- Wenn kein Ticket vorhanden ist, zeige den Dateiupload -->
  <div class="upload-dropzone" (click)="fileInput.click()">
    <p>Drag & Drop your gym ticket here, or click to select an image.</p>
    <input type="file" #fileInput (change)="handleImageUpload($event)" accept="image/*" hidden />
  </div>
}
