@if (isCropView()) {
  <image-cropper
    [imageBase64]="ticketImageSignal()"
    [maintainAspectRatio]="false"
    (imageCropped)="imageCropped($event)"
    format="png"
  />
} @else if (ticketImage !== NO_GYM_TICKET_AVAILABLE) {
  <div class="upload-container" (click)="fileInput.click()">
    <img [src]="ticketImageSignal()" alt="Upload Ticket" class="w-100" />

    <input type="file" #fileInput (change)="displayUploadedImage($event)" accept="image/*" hidden />
  </div>
} @else {
  <!-- Wenn kein Ticket vorhanden ist, zeige den Dateiupload -->
  <div class="upload-dropzone" (click)="fileInput.click()">
    <p>Drag & Drop your gym ticket here, or click to select an image.</p>
    <input type="file" #fileInput (change)="displayUploadedImage($event)" accept="image/*" hidden />
  </div>
}
