@if (!dataLoaded) {
<app-spinner />
} @else {
<app-multi-select
  [options]="allExercises"
  [initialSelected]="selectedExercises!"
  (selectionChange)="changeDisplayCategories($event)"
></app-multi-select>

<app-line-chart
  [data]="lineChartDatasets"
  [labels]="lineChartLabels"
  yAxisTitle="Tonnage (kg)"
></app-line-chart>

<app-pie-chart
  [data]="pieChartData"
  [labels]="pieChartLabels"
  [backgroundColors]="pieChartBackgroundColors"
></app-pie-chart>
}

<!-- <div>
  <canvas id="lineChart"></canvas>
</div> -->
