@if (viewInitialized()) {
  <div
    class="training-grid"
    appSwipe
    [swipeLeft]="navigateToNextDay"
    [swipeRight]="navigateToPreviousDay"
    [swipeDiagonalTopLeftToBottomRight]="navigateToPreviousWeek"
    [swipeDiagonalTopRightToBottomLeft]="navigateToNextWeek"
  >
    <div class="column-name">Category</div>
    <div class="column-name">Exercise</div>
    <div class="column-name">Sets</div>
    <div class="column-name">Reps</div>
    <div class="column-name">Weight</div>
    <div class="column-name">RPE</div>
    <div class="column-name">&#64;RPE</div>
    <div class="column-name">Est. Max</div>
    <div class="column-name">Notes</div>

    @for (exercise of trainingPlanDataService.exercises(); track exercise) {
      <app-training-view-table-row [exercise]="exercise" />
    }
  </div>

  <app-add-row-button (addRow)="trainingPlanDataService.addExercise()" (removeRow)="removeRow()"
                      [(isVisible)]="isVisible" />

  <app-training-view-navigation [trainingWeekIndex]="trainingDayLocatorService.trainingWeekIndex()"
                                [trainingDayIndex]="trainingDayLocatorService.trainingDayIndex()" />
} @else {
  <app-spinner />
}
