.training-grid {
  display: grid;
  grid-template-columns:
    minmax(175px, 1fr) /* Category */
    minmax(175px, 1fr) /* Exercise */
    repeat(6, 1fr) /* Sets, Reps, Weight, RPE, @RPE, MAX */
    minmax(175px, 1fr); /* Notes */
}

.column-name {
  text-align: center;
  padding: 8px;
  padding-left: 4px;
  border-bottom: 1px solid var(--calendar-border-color);
}

.column-name:nth-child(1),
.column-name:nth-child(2),
.column-name:nth-child(9) {
  text-align: left;
  padding-left: 10px;
}

.placeholder-for-add-button {
  height: 25px;
  width: 100%;
  opacity: 1;
}
