<app-training-banner [(imageSrc)]="trainingPlanEditView.coverImageBase64" />

<app-form-input
  [label]="'Titel'"
  [(value)]="trainingPlanEditView.title"
  [required]="true"
  [validationPattern]="'^(?!\s*$).+'"
  [validationErrorMessage]="'Titel ist erforderlich'"
  [icon]="IconName.REFRESH_CW"
  (iconClicked)="makeTrainingPlanTitleSuggestion()"
  [isTouched]="markInputFieldsAsTouched()"
/>

<app-form-input
  [label]="'Blocklänge (Wochen)'"
  [(value)]="trainingPlanEditView.trainingBlockLength"
  [required]="true"
  [type]="'number'"
  [validationPattern]="'^[3-8]$'"
  [validationErrorMessage]="'Blocklänge muss eine Zahl zwischen 3 und 8 sein.'"
  [isTouched]="markInputFieldsAsTouched()"
/>
