.training-table tr td input[type='number'] {
  text-align: center;
}

.training-table td:nth-of-type(1),
.training-table td:nth-of-type(2) {
  min-width: 140px;
}

.notes {
  min-width: 90px;
}

.table > :not(caption) > * > * {
  background-color: inherit;
}

.cdk-drag-preview {
  border: 2px dashed grey;
}

tr {
  position: relative;

  app-icon {
    display: none;
    position: absolute;
    top: 0rem;
    right: 0rem;
  }

  &:hover app-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  form {
    margin-top: -3.25rem;
    padding-bottom: 2rem;
  }

  tr {
    app-icon {
      display: block;
      position: absolute;
      top: 14.5rem;
      right: 0;
    }
  }

  .responsive-table td {
    display: grid;
    grid-template-columns: 17ch auto;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .responsive-table th {
    display: none;
  }

  .responsive-table td::before {
    content: attr(data-cell) ': ';
  }

  .training-table tr:first-child {
    border: none;
  }

  .training-table tr {
    border-top: 4px solid rgb(216, 216, 216);
  }

  .training-table td {
    border: none;
    padding: 0.775em;
  }

  .training-table tr td input[type='number'] {
    text-align: left;
  }

  .actualRPE {
    text-align: left;
  }

  .weight {
    text-align: left;
  }

  .table {
    position: relative;
    top: 2.5rem;
  }
}
