.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

form {
  margin-top: -2.75rem;
  padding-bottom: 2rem;
}

.table > :not(caption) > * > * {
  background-color: inherit;
}

.training-table tr td input[type='number'] {
  text-align: center;
}

.training-table td:nth-of-type(1),
.training-table td:nth-of-type(2) {
  min-width: 140px;
}

.notes {
  min-width: 90px;
}

.fixed-bottom-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 4px solid white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.fixed-bottom-bar app-icon {
  margin: 0 15px;
  cursor: pointer;
  font-size: 1.75rem;
}

.table > :not(caption) > * > * {
  background-color: inherit;
}

.rest-pause-time-indicator {
  display: none;
}

.cdk-drag-preview {
  border: 2px dashed grey;
}

tr {
  position: relative;

  app-icon {
    display: none;
    position: absolute;
    top: 0rem;
    right: 0rem;
  }

  &:hover app-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  tr {
    app-icon {
      display: block;
      position: absolute;
      top: 14.5rem;
      right: 0;
    }
  }

  .rest-pause-time-indicator {
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    height: 4rem;
    bottom: 57.5px;
    left: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid grey;
    background-color: rgba(240, 240, 240, 0.9);
    font-size: 1.1rem;
  }

  .responsive-table td {
    display: grid;
    grid-template-columns: 17ch auto;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .responsive-table th {
    display: none;
  }

  .responsive-table td::before {
    content: attr(data-cell) ': ';
  }

  .training-table tr:first-child {
    border: none;
  }

  .training-table tr {
    border-top: 4px solid rgb(216, 216, 216);
  }

  .training-table td {
    border: none;
  }

  .training-table tr td input[type='number'] {
    text-align: left;
  }

  .actualRPE {
    text-align: left;
  }

  .weight {
    text-align: left;
  }

  .table {
    position: relative;
    top: 2.5rem;
  }

  .headline-container {
    position: fixed;
    top: 4.25rem;
    left: 0;
    right: 0;
    padding: 0.5rem 5%;
    z-index: 10;
  }

  .pagination-container {
    margin-top: 3.25rem;
  }
}
