@if (!(dataViewLoaded$ | async)) {
  <app-skeleton-training-table />
} @else {
  @let mobileView = mobileDeviceDetectionService.isMobileDevice;

  <form (submit)="onSubmit($event)" class="mt-4" id="form">
    <div class="headline-container" [ngClass]="{ 'background-image': mobileView }">
      <app-headline [subHeading]="subHeading" [heading]="trainingDataService.trainingPlanData.title" />
      @if (mobileView) {
        <div>
          <app-icon-button [iconName]="IconName.CLOCK" (buttonClick)="switchToTimerView()" />
        </div>
      }
    </div>

    <table #trainingTable class="table table-striped training-table responsive-table caption-top mb-4">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Exercise</th>
          <th scope="col" class="text-center">Sets</th>
          <th scope="col" class="text-center">Reps</th>
          <th scope="col" class="text-center">Weight</th>
          <th scope="col" class="text-center">RPE</th>
          <th scope="col" class="text-center">&#64;RPE</th>
          <th scope="col" class="text-center">Max</th>
          <th scope="col" class="text-center">Notes</th>
        </tr>
      </thead>
      <tbody>
        @for (k of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track k; let i = $index) {
          @let exercise =
            trainingDataService.trainingPlanData.trainingDay.exercises![i] || {
              category: '',
              exercise: '',
              sets: '',
              reps: '',
              weight: '',
              targetRPE: '',
              actualRPE: '',
              estMax: '',
            };
          @let previousTrainingDayExercise =
            trainingDataService.trainingPlanData.previousTrainingDay?.exercises?.[i] ?? {
              exercise: undefined,
              weight: undefined,
            };
          @let namePrefix = 'day' + trainingDayIndex + '_exercise' + k + '_';

          <tr>
            <td data-cell="Category">
              <app-dropdown
                name="day{{ trainingDayIndex }}_exercise{{ k }}_category"
                class="exercise-category-selector"
                [options]="exerciseData.exerciseCategories"
                [directiveUsed]="'category-select'"
                [(selectedValue)]="exercise.category"
                [ngStyle]="{
                  opacity: exercise.category === '- Bitte Auswählen -' || !exercise.category ? 0 : 1,
                }"
              />
            </td>
            <td data-cell="Exercise">
              <app-dropdown
                name="day{{ trainingDayIndex }}_exercise{{ k }}_exercise_name"
                class="exercise-name-selector"
                [options]="exerciseData.categorizedExercises[exercise.category]"
                [(selectedValue)]="exercise.exercise"
                [ngStyle]="{
                  opacity: exercise.category === '- Bitte Auswählen -' || !exercise.category ? 0 : 1,
                }"
              />
            </td>
            <td data-cell="Sets">
              <app-input
                class="sets"
                [type]="'number'"
                [name]="'day' + trainingDayIndex + '_exercise' + k + '_sets'"
                [value]="exercise.sets"
              />
            </td>
            <td data-cell="Reps">
              <app-input
                [directiveUsed]="'repInputDirective'"
                class="reps"
                [type]="'number'"
                [name]="namePrefix + 'reps'"
                [value]="exercise.reps"
              />
            </td>
            <td class="weight-data-cell" data-cell="Weight">
              @let exerciseThisWeek = exercise?.exercise;
              @let previousWeekExercise = previousTrainingDayExercise?.exercise;
              <app-input
                class="weight"
                [placeholder]="
                  exerciseThisWeek && previousWeekExercise ? previousTrainingDayExercise?.weight || '' : ''
                "
                [type]="'text'"
                [name]="namePrefix + 'weight'"
                [directiveUsed]="'weightInputDirective'"
                [value]="exercise.weight || ''"
              />
            </td>
            <td data-cell="RPE">
              <app-input
                class="targetRPE"
                [type]="'text'"
                [name]="namePrefix + 'targetRPE'"
                [directiveUsed]="'rpeInputDirective'"
                [value]="exercise.targetRPE"
              />
            </td>
            <td data-cell="@RPE">
              <app-input
                class="actualRPE"
                [type]="'text'"
                [name]="namePrefix + 'actualRPE'"
                [directiveUsed]="'rpeInputDirective'"
                [value]="exercise.actualRPE || ''"
              />
            </td>
            <td data-cell="Est. Max">
              <app-input
                class="estMax"
                [type]="'number'"
                [name]="namePrefix + 'estMax'"
                [(value)]="exercise.estMax"
                [ngClass]="{ 'opacity-0': exercise.estMax === undefined || exercise.estMax === 0 }"
              />
            </td>
            <td data-cell="Notes">
              <app-input class="notes" [type]="'text'" [name]="namePrefix + 'notes'" [value]="exercise.notes ?? ''" />
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="pagination-container mb-4">
      <app-pagination
        [currentPage]="trainingDayIndex"
        [totalPages]="trainingPlanData.trainingFrequency"
        (pageChanged)="onPageChanged($event)"
      ></app-pagination>
    </div>

    <button class="btn btn-outline-dark m-1" id="reset-btn" type="button" (click)="openAutoProgressionModal()">
      Options
    </button>
  </form>

  @if (!mobileView) {
    <div class="fixed-bottom-bar">
      <app-icon [name]="IconName.ArrowLeft" [size]="24" (click)="navigateWeek(-1)" />
      <app-icon [name]="IconName.ARROW_RIGHT" [size]="24" (click)="navigateWeek(1)" />
    </div>
  }
}
