<div class="container-fluid" id="landing-container">
  <div class="d-grid landing-grid">
    <!-- Carousel Section -->
    <div class="carousel-section">
      <div id="carouselExampleCaptions" class="carousel slide h-100">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner h-100">
          <div class="carousel-item active h-100">
            <img
              src="/images/carousel/evo-gym-2.webp"
              class="d-block w-100 h-100"
              alt="First slide"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>
                Some representative placeholder content for the first slide.
              </p>
            </div>
          </div>
          <div class="carousel-item h-100">
            <img
              src="/images/carousel/evo-gym.webp"
              class="d-block w-100 h-100"
              alt="Second slide"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
          </div>
          <div class="carousel-item h-100">
            <img
              src="/images/carousel/evo-gym-2.webp"
              class="d-block w-100 h-100"
              alt="Third slide"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Hero Section -->
    <div class="hero-section bg-light d-flex align-items-center">
      <section class="p-5 w-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="pb-3">Training Systems</h1>
              <p class="lead">
                Track Your Powerlifting Progress and Connect with the Community!
              </p>
              <p class="lead">
                Join Training Systems to record your powerlifting journey, set
                personal records, and share your achievements with fellow
                lifters.
              </p>
              <p class="lead">
                Whether you're a beginner or an experienced lifter, our app
                provides a platform to inspire, support, and learn from each
                other's successes.
              </p>
              <p class="lead">
                Our advanced tracking system ensures you never miss a workout,
                offering tailored plans and progress reports. Engage with a
                community of like-minded lifters, join challenges, and find
                inspiration from others’ journeys. With Training Systems, every
                lift counts!
              </p>
              <p>
                <a
                  href="<%= isAuthenticated ? '/training' : '/register' %>"
                  class="btn btn-dark shadow mr-2"
                  >Get Started</a
                ><a href="#" class="btn btn-outline">Explore Features</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
