<div class="search-bar-container" [@toggleCollapse]="isSearchbarCollapsed() ? 'collapsed' : 'expanded'">
  <app-search-bar [(searchQuery)]="trainingPlanSearchQuery" />
</div>

@if (isDragMode()) {
  <div class="row">
    @if (!isLoading()) {
      @if (filteredTrainingPlans().length === 0) {
        <app-alert alertText="Keine deiner bestehenden Trainingpläne passen zu dieser Suchanfrage!" />
      } @else {
        <div class="training-plan-grid">
          @for (trainingPlan of filteredTrainingPlans(); track trainingPlan.id) {
            <div class="training-plan-card-container" cdkDrag>
              <app-training-plan-card [trainingPlan]="trainingPlan" />

              <app-circular-icon-button [icon]="IconName.DRAG" [iconSize]="18" cdkDragHandle />
            </div>
          }
        </div>
      }
    } @else {
      <ng-container *ngTemplateOutlet="skeletonLoader"></ng-container>
    }
  </div>
} @else {
  <div class="row">
    @if (!isLoading()) {
      @if (filteredTrainingPlans().length === 0) {
        <app-alert alertText="Keine deiner bestehenden Trainingpläne passen zu dieser Suchanfrage!" />
      } @else {
        <div class="training-plan-grid">
          @for (trainingPlan of filteredTrainingPlans(); track trainingPlan.id) {
            <div class="training-plan-card-container">
              <app-training-plan-card [trainingPlan]="trainingPlan" />
            </div>
          }
        </div>
      }
    } @else {
      <ng-container *ngTemplateOutlet="skeletonLoader"></ng-container>
    }
  </div>
}

<ng-template #skeletonLoader>
  @for (k of [1, 2, 3]; track k) {
    <div class="training-plan-grid">
      <app-skeleton-card />
    </div>
  }
</ng-template>
