:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.training-plan-card-container {
  position: relative;
  color: white;

  app-circular-icon-button {
    position: absolute;
    top: 10rem;
    right: 1.25rem;

    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.cdk-drag-preview {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .container.heading-container {
    padding-left: 0;
    padding-right: 0;
  }

  .training-plan-card-container {
    touch-action: manipulation;
    transform: none;
  }

  .cdk-drag-preview {
    transform: none;
  }
}
