:host {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.configuration-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .configuration-grid {
    grid-template-columns: 1fr;
  }
}
