@if (activityCalendarData$ | async; as activityData) {
  <app-activity-calendar [activityData]="activityData" />

  @if (recentTrainingDurations$ | async; as recentTrainingDurations) {
    <!-- Map the recentTrainingDurations to the LineChartDataset structure -->
    <app-grouped-bar-chart
      [yAxisLabel]="'Trainingsdauer (in Minuten)'"
      [labels]="recentTrainingDurations.labels"
      [barChartDataSets]="recentTrainingDurations.chartData"
    />

    @if (trainingDayNotifications$ | async; as trainingDayNotifications) {
      <app-training-day-notification [notificationsInput]="trainingDayNotifications" />
    } @else {
      <main class="mt-3">
        <app-chart-skeleton />
        <app-chart-skeleton />
      </main>
    }
  } @else {
    <main class="mt-3">
      <app-chart-skeleton />
      <app-chart-skeleton />
    </main>
  }
} @else {
  <main class="mt-3">
    <app-chart-skeleton />
    <app-chart-skeleton />
  </main>
}
