@if (isLoading) {
<app-spinner></app-spinner>
} @else {
<div class="container profile-container my-md-5 my-0">
  <div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 cover">
      <div class="media align-items-end profile-head">
        <div class="profile mr-3">
          <img
            #profileImage
            [src]="profile.pictureUrl || '/images/profile-placeholder.webp'"
            alt="Profilbild"
            width="130"
            id="profile-image"
            class="rounded mb-2 img-thumbnail"
          />
          <input
            #fileInput
            type="file"
            id="file-input"
            class="file-input"
            (change)="handleImageUpload($event)"
          />
        </div>
        <div class="media-body mb-3 text-dark">
          <h4 class="mt-0 mb-0">{{ profile.username }}</h4>
          <p class="small mb-4">
            <i class="fas fa-map-marker-alt mr-2"></i>Angemeldet seit:
            {{ profile.createdAt }}
          </p>
        </div>
      </div>
    </div>
    <div class="bg-light p-4 mb-2 d-flex justify-content-end text-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">215</h5>
          <small class="text-muted">
            <i class="fas fa-image mr-1"></i>Photos</small
          >
        </li>
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">745</h5>
          <small class="text-muted">
            <i class="fas fa-user mr-1"></i>Followers</small
          >
        </li>
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">340</h5>
          <small class="text-muted">
            <i class="fas fa-user mr-1"></i>Following</small
          >
        </li>
      </ul>
    </div>

    <div class="px-4 py-3">
      <h5 class="mb-0">Freunde</h5>
      <div class="d-flex justify-content-end mb-3 mt-3">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Freunde suchen"
          aria-label="Search"
          (input)="filterFriends($event)"
        />
        <button
          type="button"
          class="btn btn-light btn-md me-1"
          appTooltip="Freunde hinzufügen"
          (click)="openAddFriendModal()"
        >
          <i class="bx bx-user-plus"></i>
        </button>
        <button
          type="button"
          class="btn btn-light btn-md"
          appTooltip="Friend Requests"
          (click)="openFriendRequestsModal()"
        >
          <i class="bx bx-envelope"></i>
        </button>
      </div>

      <div class="row">
        @for (friend of filteredFriends; track friend) {
        <div class="col-12 mb-3">
          <app-friend-card [friend]="friend"></app-friend-card>
        </div>
        }
      </div>
    </div>
  </div>
</div>
}
