@if (isLoading) {
<app-spinner></app-spinner>
} @else {
<div class="container my-5 profile-container">
  <div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 cover">
      <div class="media align-items-end profile-head">
        <div class="profile mr-3">
          <img
            #profileImage
            [src]="profile.pictureUrl || '/images/profile-placeholder.webp'"
            alt="Profilbild"
            width="130"
            id="profile-image"
            class="rounded mb-2 img-thumbnail"
          />
          <input
            #fileInput
            type="file"
            id="file-input"
            class="file-input"
            (change)="handleImageUpload($event)"
          />
        </div>
        <div class="media-body mb-3 text-dark">
          <h4 class="mt-0 mb-0">{{ profile.username }}</h4>
          <p class="small mb-4">
            <i class="fas fa-map-marker-alt mr-2"></i>Angemeldet seit:
            {{ profile.createdAt }}
          </p>
        </div>
      </div>
    </div>
    <div class="bg-light p-4 mb-2 d-flex justify-content-end text-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">215</h5>
          <small class="text-muted">
            <i class="fas fa-image mr-1"></i>Photos</small
          >
        </li>
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">745</h5>
          <small class="text-muted">
            <i class="fas fa-user mr-1"></i>Followers</small
          >
        </li>
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">340</h5>
          <small class="text-muted">
            <i class="fas fa-user mr-1"></i>Following</small
          >
        </li>
      </ul>
    </div>
    <div class="px-4 py-3">
      <h5 class="mb-0">About</h5>
      <div class="p-4 rounded shadow-sm bg-light">
        <p class="font-italic mb-0">{{ profile.username }}</p>
        <p class="font-italic mb-0">{{ profile.email }}</p>
      </div>
    </div>
    <div class="px-4 py-3">
      <h5 class="mb-0">Friends</h5>
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-primary mr-2">+</button>
        <button class="btn btn-secondary">Pending Friend Requests</button>
      </div>
      <div class="row">
        @for (friend of friends; track friend) {
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-body d-flex align-items-center">
              <img
                [src]="friend.pictureUrl || '/images/profile-placeholder.webp'"
                alt="Friend picture"
                class="rounded-circle me-2"
                width="50"
                height="50"
              />
              <div class="flex-grow-1">
                <h5 class="card-title mb-0">{{ friend.name }}</h5>
                <p class="card-text text-muted">{{ friend.username }}</p>
              </div>
              <button class="btn btn-outline-primary btn-sm ml-auto">
                <i class="fas fa-user-plus mr-1"></i>Adden
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
}
