.profile-head {
  transform: translateY(3.5rem);
}

.media-body {
  padding-left: 0.5rem;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  opacity: 0;
  cursor: pointer;
}
