.profile-head {
  transform: translateY(3.5rem);
}

.media-body {
  padding-left: 0.5rem;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

body {
  background: #654ea3;
  background: linear-gradient(to right, #e96443, #904e95);
  min-height: 100vh;
  overflow-x: hidden;
}
