<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Login</header>
      <form (submit)="onSubmit($event)">
        <div class="field input-field">
          <input
            type="email"
            placeholder="Email"
            class="input"
            name="email"
            autocomplete="off"
          />
        </div>
        <div class="field input-field">
          <input
            autocomplete="off"
            type="password"
            placeholder="Password"
            class="password"
            name="password"
          />
          <i
            class="bx bx-hide eye-icon"
            (click)="togglePasswordVisibility($event)"
          ></i>
        </div>

        <div class="field button-field">
          <button>Login</button>
        </div>
      </form>
      <div class="form-link">
        <span>
          Don't have an account?
          <a
            href="/register"
            class="link signup-link"
            (click)="navigateTo($event)"
          >
            Signup
          </a>
        </span>
      </div>
      <div class="form-link">
        <span
          >Forgot Password?
          <a href="#" class="forgot-pass">Click here </a></span
        >
      </div>
    </div>
    <div class="line"></div>
    <div class="media-options">
      <div
        id="g_id_onload"
        data-client_id="745778541640-0f05iimgfid2tag6rkvilau5nqt69ko0.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        [attr.data-login_uri]="oauthRoute"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
      ></div>
    </div>
  </div>
</section>
