a {
  text-decoration: none;
}

/* GENERAL STYLES */

.pagination {
  padding-top: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 0.5rem; // Abstand zwischen den Seitenzahlen
  }

  a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
    border-radius: 5px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: #000;
      cursor: pointer;
    }

    &.is-active {
      background-color: #007bff;
      color: white;
      border-radius: 5px;
    }
  }

  li {
    display: inline-block;
  }

  // Individuelles Styling für Paginierungsgrößen
  &.p1 a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #ddd;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.is-active {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
    }
  }
}
