<div class="dropdown" [class.show]="isOpen()" (click)="toggleDropdown()">
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%">
    <div class="chip-container">
      @for (select of selected(); track select) {
        <div class="chip">{{ select }}</div>
      }
    </div>
    <div>
      @if (isOpen()) {
        <app-icon [name]="IconName.ChevronUp" />
      } @else {
        <app-icon [name]="IconName.ChevronDown" />
      }
    </div>
  </div>
  <div class="dropdown-menu p-2" [class.show]="isOpen()" (click)="$event.stopPropagation()">
    <div class="dropdown-search">
      <input
        type="text"
        class="form-control w-100"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterOptions()"
      />
    </div>

    @for (option of filteredItems(); track option) {
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [id]="option"
          [checked]="selected().includes(option)"
          (change)="onSelectionChange(option, $event)"
        />
        <label class="form-check-label" [for]="option">{{ option }}</label>
      </div>
    }
  </div>
</div>
