<div class="dropdown" [class.show]="isOpen()" (click)="toggleDropdown()">
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%">
    <div class="chip-container">
      @for (select of selected(); track select) {
        <div class="chip">{{ select }}</div>
      }
    </div>
    <div>
      @if (isOpen()) {
        <app-icon [name]="IconName.ChevronUp" />
      } @else {
        <app-icon [name]="IconName.ChevronDown" />
      }
    </div>
  </div>
  <div class="dropdown-menu p-2" [class.show]="isOpen()" (click)="$event.stopPropagation()">
    <app-search-bar [(searchQuery)]="searchQuery" />

    <div class="checkbox-container">
      @for (option of filteredItems(); track option) {
        <app-checkbox
          [item]="{ label: option, isChecked: selected().includes(option) }"
          (valueChanged)="onSelectionChange(option, $event)"
        />
      }
    </div>
  </div>
</div>
