:host {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.65rem;
  background-color: rgba(249, 249, 249, 0.8);
  border-bottom: 2px solid #d5d5d5;
}

.clear-search-bar-icon:hover {
  cursor: pointer;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: inherit;

  /* Hover state styles */
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.search-input::placeholder {
  color: #aaa;
}
