@switch (directiveUsed()) {
  @case ('interactiveElementDirective') {
    <input
      appInteractiveElement
      autocomplete="off"
      [type]="type()"
      class="transparent-input"
      [name]="name()"
      [placeholder]="placeholder()"
      [(value)]="value"
    />
  }
  @case ('weightInputDirective') {
    <input
      weightInput
      autocomplete="off"
      [type]="type()"
      class="transparent-input"
      [name]="name()"
      [placeholder]="placeholder()"
      [(value)]="value"
    />
  }
  @case ('repInputDirective') {
    <input
      repInputDirective
      autocomplete="off"
      [type]="type()"
      class="transparent-input"
      [name]="name()"
      [placeholder]="placeholder()"
      [(value)]="value"
    />
  }
  @case ('rpeInputDirective') {
    <input
      rpeInputDirective
      autocomplete="off"
      [type]="type()"
      class="transparent-input"
      [name]="name()"
      [placeholder]="placeholder()"
      [(value)]="value"
    />
  }
}
