<div class="icon-info-container">
  <div class="icon-box">
    <app-icon [name]="IconName.CLOCK" [size]="18" [color]="'white'" />
  </div>

  {{ pauseTimeService.currentExercise() }}
</div>

<div class="pause-time-with-icon-container">
  <p>
    {{ pauseTimeService.getCurrentTime() | formatTime }}
  </p>
  <app-icon [name]="IconName.ChevronUp" [size]="22" />
</div>

<div
  class="progress-bar"
  [style.width.%]="pauseTimeService.getCurrentTime() | toPauseTimeProgressPercentage: pauseTimeService.getInitialTime()"
></div>
