<app-floating-label-input [label]="'Ziel'" [options]="bodyWeightGoalOptions()  | toDropdownOptionsFromStrings"
                          [(value)]="bodyWeightConfigurationService.bodyWeightGoal" [type]="'select'" />

@if (bodyWeightConfigurationService.bodyWeightGoal() !== BodyWeightGoal.MAINTAIN) {
  <app-floating-label-input [label]="rateLabel()" [options]="bodyWeightRates | toDropdownOptionsFromStrings"
                            [(value)]="bodyWeightConfigurationService.bodyWeightRate" [type]="'select'" />
}

