<app-dashboard-card
  [title]="categoryPerformanceCardInfo()!.title"
  [unit]="categoryPerformanceCardInfo()!.unit"
  [differenceFromLastSession]="categoryPerformanceCardInfo()!.prIncrement"
/>

<app-grouped-bar-chart [data]="categoryChartData()!" />


<div [@toggleCollapse]="hovered() ? 'expanded' : 'collapsed'" class="toggle-button-container">
  <app-button [variant]="'SECONDARY'" [textContent]="'Letzten Eintrag löschen'" [icon]="IconName.Trash"
              (clicked)="showDeleteMostRecentEntryModal()" />
</div>


