<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Passwort zurücksetzen</header>
      <form (submit)="resetPassword($event)">
        <div class="field input-field">
          <input
            type="password"
            placeholder="Create password"
            name="password"
            class="password"
            (input)="onPasswordChange($event)"
          />
          @if (hidePasswordInput()) {
            <app-icon class="eye-icon" [name]="IconName.EYE_OFF" (click)="togglePasswordVisibility($event)" />
          } @else {
            <app-icon class="eye-icon" [name]="IconName.EYE" (click)="togglePasswordVisibility($event)" />
          }
        </div>
        <div class="field input-field">
          <input
            type="password"
            placeholder="Confirm password"
            name="confirmPassword"
            class="password repeat-password"
            (input)="onRepeatPasswordChange($event)"
          />
          @if (hideRepeatPasswordInput()) {
            <app-icon class="eye-icon" [name]="IconName.EYE_OFF" (click)="togglePasswordVisibility($event)" />
          } @else {
            <app-icon class="eye-icon" [name]="IconName.EYE" (click)="togglePasswordVisibility($event)" />
          }
        </div>

        <div class="field button-field">
          <button>Senden</button>
        </div>
      </form>
      <div class="form-link">
        <span>
          Doch nicht vergessen?
          <a href="/login" class="link signup-link" (click)="navigateTo($event)"> Signup </a>
        </span>
      </div>
    </div>
  </div>
</section>
