.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.timer-display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
}

.progress-ring {
  position: absolute;
  transform: rotate(-90deg); /* Rotate the whole ring to start from top */
}

.progress-ring__background {
  transform-origin: 50% 50%;
}

.progress-ring__circle {
  transition: stroke-dashoffset 1s linear;
  transform-origin: 50% 50%;
}

.time-remaining {
  position: absolute;
}

.timer-controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
