:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-radius: 15px;
}

.timer-display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  border-radius: 50%;
}

.progress-ring {
  position: absolute;
  transform: rotate(-90deg); /* Rotate the whole ring to start from top */
}

.progress-ring__background {
  transform-origin: 50% 50%;
}

.progress-ring__circle {
  transition: stroke-dashoffset 1s linear;
  transform-origin: 50% 50%;
}

.time-remaining {
  position: absolute;
  font-size: 2.5rem;
  color: #333;
}

.time-remaining {
  font-size: 2.5rem;
  color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  font-weight: 500;
}

.initial-time {
  font-size: 1.1rem;
  color: #999;
  position: absolute;
  top: calc(50% + 2rem);
  transform: translateY(-50%);
}

.timer-controls {
  display: flex;
  justify-content: space-between; /* Platzierung der Buttons */
  width: 100%; /* Nimmt die gesamte Breite des Containers ein */
  padding: 0 10px; /* Etwas Polsterung, um sie nicht an den Rand zu drücken */
  margin-top: 20px; /* Abstand zum Timer oben */
}

.timer-button {
  flex: 1;
  margin: 0 5px; /* Abstand zwischen den Buttons */
  padding: 15px 10px; /* Button-Größe anpassen */
  border: none;
  border-radius: 5px;
  font-size: 1.085rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.minus-button {
  color: #007bff;
  background-color: inherit;
}

.plus-button {
  color: #007bff;
  background-color: inherit;
}

.skip-button {
  background-color: #007bff;
}
