<div class="timer-container">
  <div class="timer-display">
    <svg #progressRing class="progress-ring" width="200" height="200">
      <circle
        class="progress-ring__background"
        stroke="#007bff"
        stroke-width="10"
        fill="transparent"
        r="90"
        cx="100"
        cy="100"
        style="outline: none; box-shadow: none"
      />
      <circle
        class="progress-ring__circle"
        stroke="white"
        stroke-width="10"
        fill="transparent"
        r="90"
        cx="100"
        cy="100"
        style="outline: none; box-shadow: none"
      />
    </svg>
    <span class="time-remaining">{{ formatTime(remainingTime) }}</span>
  </div>
  <div
    class="timer-controls d-flex justify-content-center align-items-center gap-1 mt-2"
  >
    <button
      type="button"
      class="btn btn-light btn-lg m-1"
      appTooltip="Reduce 10 seconds"
      (click)="adjustTime(-10)"
    >
      <i class="bx bx-minus"></i>
    </button>
    <button
      type="button"
      class="btn btn-light btn-lg m-1"
      appTooltip="Add 10 seconds"
      (click)="adjustTime(10)"
    >
      <i class="bx bx-plus"></i>
    </button>
    <button
      type="button"
      class="btn btn-light btn-lg m-1"
      appTooltip="End Timer"
      (click)="skipTimer()"
    >
      <i class="bx bx-stop"></i>
    </button>
  </div>
</div>
